<div class="main-header main-header--one main-header--lander">
    	<div class="container main-header__container">
	        <h1 class="h1 main-header__h1 main-header__h1--three main-header__h1--home dont-break-out">{{.title}}<span class="main-header__span"> {{.title2}} </span></h1>
                {{ if .subtitle }}
 <p class="p main-header__p ">{{ .subtitle }}</p>
                   {{ end }} 
	        <a class="main-header__btn main-header__btn--home btn btn--one main-header__btn--tablet" href="/free-trial-account.html">
			   			Get Started For Free
			    	</a>
<a class="main-header__btn main-header__btn--home btn btn--one main-header__btn--mobile" href="/free-trial-account.html">
			Get Started For Free
  	</a>
<small>No credit card required.</small>
			    
		    		    	
	    		      	<div class="main-header__ctas main-header__ctas--home">
		        <a onclick="return monInstallLinkTrack('iOs', 'Header');" href="https://itunes.apple.com/gb/app/elektropay/id1102793407">
			        <svg class="app-install main-header__install main-header__install--home main-header__install--first">
			            <use xlink:href="#icon-app-store"></use>
			        </svg>
		        </a>
		        <a onclick="return monInstallLinkTrack('Android', 'Header');" href="https://play.google.com/store/apps/details?id=com.elektropay.elektropay.live&amp;hl=en_GB&amp;referrer=">
		        	<svg class="app-install main-header__install main-header__install--home">
		            	<use xlink:href="#icon-googleplay"></use>
		        	</svg>
		        </a>
	      	</div>
	      	       </div>
    </div>

