<section class="section-hero">
<div class="ptl sub-section hero">
<div class="container row adaptive">
<div class="col1of2 mobile-centered">
<div class="hidden-phone pbl"></div>
<h1 class="pvm plm">{{.title}}</h1>

  <div class="mobile-off">
<form novalidate="novalidate" class="pill-form mts" action="https://app.elektropay.com/signup" accept-charset="UTF-8" method="post">
  <input name="utf8" type="hidden" value="✓">
  <input type="hidden" name="authenticity_token" value="xIjd2P7O4ZTqq8hztZjH60INAsBDjzRnO5DKK+ouRHCn0SHXtmSH9r28foX33MG6wd/ZgxI3/gOBOOYl8Wbf5Q==">
<input type="hidden" name="section" id="section" value="hero">
<input name="email" placeholder="Enter your email" type="email">
<input type="submit" value="Sign Up">
</form>
    
{{ if .subtitle }}
<p class="text-center pvs">Get started for free. No credit card required{{ .subtitle }}</p>
{{ end }}      
</div>
  
<div class="desktop-off">
<div class="pbs">
<a class="button" data-section="hero" href="signup">Get Started For Free</a>
</div>
<small>No credit card required.</small>
</div>

</div>
<div class="col1of2 hidden-phone">
<img src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1497508051/elektropay/assets/img/landing/processor.png" alt="Elektropay" width="480" height="400">
</div>
</div>
</div>
  </section>


<div class="pv5 pv6-l ph3 bg-center cover hidden" style="background-image: url('{{.imageUrl}}')">
  <div class="mw7 center ph3">
    <div class="db mb3">
      <div class="mw7 relative bg-fix-primary mb3">
        <h1 class="f2 f1-l b di lh-title mb3 white mw6 bg-primary">
          {{.title}}
        </h1>
      </div>
      <div class="mw7 relative bg-fix-primary">
        {{ if .subtitle }}
        <p class="b f4 di lh-title mb3 white mw6 bg-primary">
          {{.subtitle}}
        </p>
        {{ end }}
      </div>
    </div>
  </div>
</div>
