    <div class="selling-points selling-points--none">
        <div class="container">
          
        <h2 class="h2 whyus__h2">{{.heading}}</h2>
     <h4 class="whyus__h4">{{.text}}</h4>

            <div class="selling-points__row row selling-points__row--none">
                <div v-bind:class="{ 'selling-points__col--active': checkIsActive(0) }" class="selling-points__col selling-points__col--one">
                    <svg class="selling-points__icon">
                        <use xlink:href="#icon-sellpassport" />
                    </svg>
                    <h3 class="h2 selling-points__h3">Borderless Payments</h3>
                    <p class="selling-points__p">Reduce customer friction and accept payments in 130+ currencies and multiple settlement currency options. </p>
                </div>
                <div v-bind:class="{ 'selling-points__col--active': checkIsActive(1) }" class="selling-points__col selling-points__col--two">
                    <svg class="selling-points__icon selling-points__icon--right">
                        <use xlink:href="#icon-sellall" />
                    </svg>
                    <h3 class="h2 selling-points__h3">Device Compatiblity</h3>
                    <p class="selling-points__p">Elektropay® supports numerous card terminal devices for EMV, magnetic stripe, and contactless payments. </p>
                </div>
                <div v-bind:class="{ 'selling-points__col--active': checkIsActive(2) }" class="selling-points__col selling-points__col--three">
                    <svg class="selling-points__icon">
                        <use xlink:href="#icon-sellshield" />
                    </svg>
                    <h3 class="h2 selling-points__h3">Security & Compliance</h3>
                    <p class="selling-points__p">Data security is of enormous importance to us, and we take vital steps to safeguard customers’ information.</p>
                </div>
            </div>
            
            <div class="selling-points__row row selling-points__row--none">
                <div v-bind:class="{ 'selling-points__col--active': checkIsActive(0) }" class="selling-points__col selling-points__col--one">
                    <svg class="selling-points__icon">
                        <use xlink:href="#icon-sellpassport" />
                    </svg>
                    <h3 class="h2 selling-points__h3">Subcription Billing</h3>
                    <p class="selling-points__p">Easily accept repeat online payments for apps, subscription-based businesses, donations, and more.</p>
                </div>
                <div v-bind:class="{ 'selling-points__col--active': checkIsActive(1) }" class="selling-points__col selling-points__col--two">
                    <svg class="selling-points__icon selling-points__icon--right">
                        <use xlink:href="#icon-sellall" />
                    </svg>
                    <h3 class="h2 selling-points__h3">Reporting & Analytics</h3>
                    <p class="selling-points__p">Elektrolytics® includes a number of out-of-the-box reports that businesses need to monitor and manage their plans.</p>
                </div>
                <div v-bind:class="{ 'selling-points__col--active': checkIsActive(2) }" class="selling-points__col selling-points__col--three">
                    <svg class="selling-points__icon">
                        <use xlink:href="#icon-sellshield" />
                    </svg>
                    <h3 class="h2 selling-points__h3">Third party integrations</h3>
                    <p class="selling-points__p">Plug your business easily into some of the most popular ecommerce gateways, shopping carts, analytics services, and billing applications out there.</p>
                </div>
            </div>
            
            
        </div>
    </div>        
        
        
