    <div class="copy-image copy-image--none copy-image--tall  " >
<img class="copy-image__img copy-image__img--tall copy-image__img--reversed " src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%271%27%20height%3D%271%27%20style%3D%27background%3Atransparent%27%2F%3E" sizes="100vw" srcset="https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/open-account-7_b64fc767d3d7ca9c1fd51325928a0f0e.jpg 1024w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/open-account-7_62a3c087a87ec9c8ef005515c44c4949.jpg 512w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/open-account-7_060e012c8487784e655524c9661b5008.jpg 256w" alt="Payments">
                <div class="container">
                    <div class="copy-image__row row">
                        <div class="copy-image__col copy-image__col--tall copy-image__col--reversed ">
                            
                            <h2 class="copy-image__h2 copy-image__h2--none">{{.heading}}</h2>
                            <h3 class="h2 copy-image__h3 copy-image__h3--none">Easy to use</h3>

                        <p class="copy-image__copy copy-image__copy--none">{{.text}}</p>
                            
				<div class="copy-image__ctas">
                                    <a onclick="return monInstallLinkTrack('iOs', 'Download');" href="https://itunes.apple.com/gb/app/monese/id1102793407?">
                                        <svg class="app-install copy-image__install copy-image__install--first">
                                            <use xlink:href="#icon-app-store" />
                                        </svg>
                                    </a>
                                    <a onclick="return monInstallLinkTrack('Android', 'Download');" href="https://play.google.com/store/apps/details?id=com.monese.monese.live&hl=en_GB&referrer=">
                                        <svg class="app-install copy-image__install copy-image__install--last">
                                            <use xlink:href="#icon-googleplay" />
                                        </svg>
                                    </a>
                                </div>
                            
                                                                                        
                                                    </div>
                    </div>
                </div>
            </div>

<div class="copy-background copy-background--skyblue" style="background-image:url('https://static.monese.com/s/svg/local-banking-4.svg');">
                <div class="container">
                    <div class="copy-background__row row">
                        <div class="copy-background__col">
                            <h2 class="h3 copy-background__h2">No UK address? No problem!</h2>
                            <h3 class="h2 copy-background__h3">Nomads, Expats &amp; Migrants welcome.</h3>
                            <p class="copy-background__copy">To open our Current Account you don&#039;t need to be a UK resident. You don&#039;t even need to provide us with your credit history.</p>
                            <a class="copy-background__btn btn btn--transparent btn--full" href="customers.html">
                                Our customers
                                <svg class="btn__arrow arrow btn__arrow--one">
                                    <use xlink:href="#icon-arrow" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        <div class="two-col">
                <div class="container">
                    <div class="two-col__row row">
                        <div class="two-col__col">
       <img class="two-col__img" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2716%27%20height%3D%279%27%20style%3D%27background%3Atransparent%27%2F%3E" sizes="100vw" srcset="https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/phone-send-3-s-gb_b64fc767d3d7ca9c1fd51325928a0f0e.jpg 1024w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/phone-send-3-s-gb_62a3c087a87ec9c8ef005515c44c4949.jpg 512w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/phone-send-3-s-gb_060e012c8487784e655524c9661b5008.jpg 256w" alt="Fast &amp; cheap transfers">
                        </div>
                        <div class="two-col__col two-col__col--second">
                            <h2 class="h3 two-col__h2">Fast &amp; cheap transfers</h2>
                            <h3 class="h2 two-col__h3">Sending money abroad</h3>
                            <p class="two-col__copy">Sending money overseas with Monese is up to 88% cheaper than using a traditional bank.</p>
                            <a class="two-col__btn btn btn--transparent btn--full" href="international-money-transfer.html">
                                Send money for less
                                <svg class="btn__arrow arrow btn__arrow--one">
                                    <use xlink:href="#icon-arrow" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

<div class="copy-image copy-image--none copy-image--short copy-image--nopadding  " >

                
                <img class="copy-image__img copy-image__img--short " src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%271%27%20height%3D%271%27%20style%3D%27background%3Atransparent%27%2F%3E" sizes="100vw" srcset="https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/img-business-card-angle-1@2x_b64fc767d3d7ca9c1fd51325928a0f0e.jpg 1024w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/img-business-card-angle-1@2x_62a3c087a87ec9c8ef005515c44c4949.jpg 512w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/img-business-card-angle-1@2x_060e012c8487784e655524c9661b5008.jpg 256w" alt="Payments">
                <div class="container">
                    <div class="copy-image__row row">
                        <div class="copy-image__col copy-image__col--short ">
                            
                            <h2 class="copy-image__h2 copy-image__h2--none">Smart business accounts</h2>
                            <h3 class="h2 copy-image__h3 copy-image__h3--none">Monese for Business</h3>

                                                            <p class="copy-image__copy copy-image__copy--none">Be one of the first to experience our new small business accounts. Register your interest now.</p>
                            <a class="copy-image__btn copy-image__btn--none btn btn--transparent btn--full" href="business.html">
                                                                    Business Accounts
                                    <svg class="btn__arrow arrow btn__arrow--none">
                                        <use xlink:href="#icon-arrow" />
                                    </svg>
                                </a>
</div>
                    </div>
                </div>
            </div>

      <div class="main-account ">
        <div class="container">
            <div class="row">
                <div class="main-account__col">
                    <h2 class="h3 main-account__h2">Your main account</h2>
                    <h3 class="h2 main-account__h3">Banking without boundaries</h3>
                    <p class="p main-account__p">Monese is not a bank - we specialise in one thing and that&#039;s current accounts.</p>
                    <ul class="main-account__ul">
                        <li class="main-account__li">
                            <svg class="icon-listtick main-account__tick">
                                <use xlink:href="#icon-listtick" />
                            </svg>
                            Unlimited transactions
                        </li>
                        <li class="main-account__li">
                            <svg class="icon-listtick main-account__tick">
                                <use xlink:href="#icon-listtick" />
                            </svg>
                            Receive £ or € bank transfers
                        </li>
                        <li class="main-account__li">
                            <svg class="icon-listtick main-account__tick">
                                <use xlink:href="#icon-listtick" />
                            </svg>
                            Contactless debit card
                        </li>
                        <li class="main-account__li">
                            <svg class="icon-listtick main-account__tick">
                                <use xlink:href="#icon-listtick" />
                            </svg>
                            Fast bank transfers
                        </li>
                        <li class="main-account__li">
                            <svg class="icon-listtick main-account__tick">
                                <use xlink:href="#icon-listtick" />
                            </svg>
                            Get cash at ATMs globally
                        </li>
                                                <li class="main-account__li">
                            <svg class="icon-listtick main-account__tick">
                                <use xlink:href="#icon-listtick" />
                            </svg>
                            Direct debits
                        </li>
                                            </ul>
                    <a href="free-trial-account.html" class="main-account__btn btn btn-primary btn-round btn-fill btn-lg">Try account free</a>
                </div>
            </div>
        </div>
    </div>            
        
        
        
        
        
        
        
                    <div class="safety">
                <div class="container">
                    <div class="row safety__row safety__row--main">
                        <div class="safety__col safety__col--first">
                            
                            <svg class="safety__icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 128 128" style="enable-background:new 0 0 128 128;" xml:space="preserve">
<style type="text/css">
	.icon-security-st0{fill-rule:evenodd;clip-rule:evenodd;fill:#E4F5FF;}
	.icon-security-st1{fill:#FFDB01;}
	.icon-security-st2{fill-rule:evenodd;clip-rule:evenodd;fill:#96D8FF;}
	.icon-security-st3{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
	.icon-security-st4{fill-rule:evenodd;clip-rule:evenodd;fill:#7FD1FF;}
	.icon-security-st5{fill-rule:evenodd;clip-rule:evenodd;fill:#D9E7FF;}
	.icon-security-st6{fill-rule:evenodd;clip-rule:evenodd;fill:#6CBAFF;}
	.icon-security-st7{fill-rule:evenodd;clip-rule:evenodd;fill:#7CBFFE;}
	.icon-security-st8{fill-rule:evenodd;clip-rule:evenodd;fill:#F4D006;}
	.icon-security-st9{fill-rule:evenodd;clip-rule:evenodd;fill:#48BDFF;}
	.icon-security-st10{fill-rule:evenodd;clip-rule:evenodd;fill:#3E83FF;}
	.icon-security-st11{fill:none;stroke:#40AEEC;stroke-width:4.0425;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.icon-security-st12{fill:none;stroke:#48BDFF;stroke-width:3.465;stroke-miterlimit:10;}
	
		.icon-security-st13{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#48BDFF;stroke-width:1.155;stroke-linecap:square;stroke-miterlimit:10;}
	.icon-security-st14{fill:none;stroke:#48BDFF;stroke-width:1.155;stroke-miterlimit:10;}
	.icon-security-st15{fill:none;stroke:#48BDFF;stroke-width:1.155;stroke-linecap:square;stroke-miterlimit:10;}
	.icon-security-st16{fill:none;stroke:#48BDFF;stroke-width:1.155;stroke-linecap:round;stroke-miterlimit:10;}
</style>
<circle class="icon-security-st0" cx="64" cy="64" r="64"/>
<path class="icon-security-st1" d="M64,128c26.5,0,49.2-16.1,59-39.1H5C14.8,111.9,37.5,128,64,128z"/>
<path class="icon-security-st2" d="M122.9,89V64.5h-18v29.4h15.6C121.4,92.3,122.2,90.7,122.9,89z"/>
<circle class="icon-security-st3" cx="27.1" cy="26.3" r="9"/>
<ellipse transform="matrix(0.9336 -0.3584 0.3584 0.9336 -6.7741 16.1326)" class="icon-security-st3" cx="40.1" cy="26.3" rx="9" ry="9"/>
<circle class="icon-security-st3" cx="33.1" cy="20.3" r="9"/>
<path class="icon-security-st4" d="M122.9,89c3.3-7.7,5.1-16.1,5.1-25s-1.8-17.3-5.1-25V89z"/>
<path class="icon-security-st4" d="M22.9,14.9C8.9,26.7,0,44.3,0,64c0,10.8,2.7,21,7.4,29.9h15.5V14.9z"/>
<ellipse transform="matrix(0.9336 -0.3584 0.3584 0.9336 -9.2256 42.905)" class="icon-security-st3" cx="111.1" cy="46.3" rx="9" ry="9"/>
<circle class="icon-security-st3" cx="101.1" cy="37.3" r="9"/>
<rect x="86.9" y="15.6" class="icon-security-st4" width="18" height="78.4"/>
<path class="icon-security-st3" d="M74.2,0.8c-1.6,2.3-2.6,5.1-2.6,8.1c0,3.9,1.9,7.1,3.6,9.5L83,29.3c0.1,0.1,0.1,0.1,0.2,0.1h0.6H86V3.9
	C82.2,2.5,78.3,1.5,74.2,0.8z"/>
<path class="icon-security-st5" d="M86,3.9v25.5h2.1h0.6c0.1,0,0.2,0,0.2-0.1l7.7-10.9c1.4-1.9,2.9-4.4,3.4-7.3C95.8,8.2,91,5.7,86,3.9z"/>
<path class="icon-security-st5" d="M76.7,1.3c-1.1,2.2-1.7,4.9-1.7,7.7c0,3.9,1.5,7.1,2.8,9.5l6,10.9c0,0.1,0.1,0.1,0.2,0.1h0.5H86V3.9
	C83,2.8,79.9,1.9,76.7,1.3z"/>
<path class="icon-security-st3" d="M86,3.9v25.5h1.6h0.5c0.1,0,0.1,0,0.2-0.1l6-10.9c1.3-2.3,2.7-5.5,2.8-9.3C93.5,7.1,89.9,5.3,86,3.9z"/>
<path class="icon-security-st3" d="M80.1,2c-0.5,2-0.8,4.4-0.8,6.9c0,3.9,0.9,7.1,1.7,9.5l3.6,10.9c0,0.1,0.1,0.1,0.1,0.1H85h1V3.9
	C84.1,3.2,82.1,2.6,80.1,2z"/>
<path class="icon-security-st5" d="M86,29.4h1h0.3c0,0,0.1,0,0.1-0.1L91,18.4c0.8-2.4,1.7-5.6,1.7-9.5c0-0.7,0-1.5-0.1-2.2
	c-2.2-1.1-4.4-2.1-6.6-2.9V29.4z"/>
<rect x="22.9" y="54.8" class="icon-security-st2" width="18" height="39.2"/>
<rect x="98" y="26" class="icon-security-st6" width="4" height="3"/>
<rect x="98" y="19" class="icon-security-st6" width="4" height="3"/>
<rect x="108" y="70" class="icon-security-st7" width="4" height="3"/>
<rect x="27" y="61" class="icon-security-st7" width="4" height="3"/>
<rect x="7" y="40" class="icon-security-st6" width="4" height="3"/>
<rect x="7" y="47" class="icon-security-st6" width="4" height="3"/>
<rect x="15" y="47" class="icon-security-st6" width="4" height="3"/>
<rect x="15" y="40" class="icon-security-st6" width="4" height="3"/>
<rect x="116" y="77" class="icon-security-st7" width="4" height="3"/>
<rect x="116" y="70" class="icon-security-st7" width="4" height="3"/>
<path class="icon-security-st8" d="M34.8,105.6h59c1.4,0,2.5,1.1,2.5,2.5s-1.1,2.5-2.5,2.5h-59c-1.4,0-2.5-1.1-2.5-2.5S33.4,105.6,34.8,105.6z"/>
<path class="icon-security-st9" d="M30.7,27.5c0-3.2,2.6-5.8,5.8-5.8h55.8c3.2,0,5.8,2.6,5.8,5.8v68.9c0,3.2-2.6,5.8-5.8,5.8H36.5
	c-3.2,0-5.8-2.6-5.8-5.8V27.5z"/>
<path class="icon-security-st10" d="M34.3,28.6c0-1.6,1.3-2.9,2.9-2.9h54.5c1.6,0,2.9,1.3,2.9,2.9v66.7c0,1.6-1.3,2.9-2.9,2.9H37.2
	c-1.6,0-2.9-1.3-2.9-2.9V28.6z"/>
<path class="icon-security-st10" d="M78.3,102.2h12.1v3.1c0,1.7-1.4,3.1-3.1,3.1h-5.9c-1.7,0-3.1-1.4-3.1-3.1V102.2z"/>
<path class="icon-security-st10" d="M37.8,102.2H50v3.1c0,1.7-1.4,3.1-3.1,3.1H41c-1.7,0-3.1-1.4-3.1-3.1V102.2z"/>
<line class="icon-security-st11" x1="64.1" y1="91" x2="64.1" y2="83.7"/>
<line class="icon-security-st11" x1="64.1" y1="73.7" x2="64.1" y2="66.4"/>
<line class="icon-security-st11" x1="51.7" y1="78.5" x2="58.9" y2="78.5"/>
<line class="icon-security-st11" x1="69" y1="78.5" x2="76.2" y2="78.5"/>
<circle class="icon-security-st12" cx="64.1" cy="78.8" r="12.9"/>
<circle class="icon-security-st9" cx="64.1" cy="78.8" r="5.8"/>
<circle class="icon-security-st13" cx="64.1" cy="45.4" r="8.7"/>
<circle class="icon-security-st14" cx="64.1" cy="45.4" r="8.7"/>
<circle class="icon-security-st9" cx="64.1" cy="45.4" r="5.5"/>
<line class="icon-security-st15" x1="64.4" y1="37" x2="64.4" y2="39.6"/>
<line class="icon-security-st15" x1="64.4" y1="51.4" x2="64.4" y2="54"/>
<line class="icon-security-st15" x1="72.5" y1="45.6" x2="69.9" y2="45.6"/>
<line class="icon-security-st15" x1="58.6" y1="45.6" x2="56" y2="45.6"/>
<line class="icon-security-st16" x1="68.6" y1="50.1" x2="67.3" y2="48.8"/>
<line class="icon-security-st16" x1="60.2" y1="41.7" x2="59.3" y2="40.8"/>
<line class="icon-security-st16" x1="59.8" y1="50" x2="60.7" y2="49"/>
<line class="icon-security-st16" x1="68.2" y1="42.2" x2="69.1" y2="41.3"/>
<path class="icon-security-st9" d="M33.4,37h6.9c1.9,0,3.5,1.6,3.5,3.5c0,1.9-1.6,3.5-3.5,3.5h-6.9V37z"/>
<path class="icon-security-st9" d="M33.3,79.7h6.9c1.9,0,3.5,1.6,3.5,3.5c0,1.9-1.6,3.5-3.5,3.5h-6.9V79.7z"/>
</svg>
                            <h2 class="h2 safety__h2">Your Money is safe</h2>
                            <p class="p safety__p">Deposits made to Monese current accounts are stored in a network of stable European banks. Our customers&#039; funds are also ringfenced, safeguarded against losses and will never be reinvested by us.</p>
                        </div>
                        <div class="safety__col">

                            <svg class="safety__icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 128 128" style="enable-background:new 0 0 128 128;" xml:space="preserve">
<style type="text/css">
	.icon-shield-st0{fill-rule:evenodd;clip-rule:evenodd;fill:#E3F4FE;}
	.icon-shield-st1{fill-rule:evenodd;clip-rule:evenodd;fill:#D0DDEC;}
	.icon-shield-st2{fill-rule:evenodd;clip-rule:evenodd;fill:#DFE8F1;}
	.icon-shield-st3{fill-rule:evenodd;clip-rule:evenodd;fill:#D8E7F4;}
	.icon-shield-st4{fill-rule:evenodd;clip-rule:evenodd;fill:#FFEE7B;}
	.icon-shield-st5{fill-rule:evenodd;clip-rule:evenodd;fill:#E6C500;}
	.icon-shield-st6{fill-rule:evenodd;clip-rule:evenodd;fill:#FFDB01;}
	.icon-shield-st7{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
	.icon-shield-st8{fill-rule:evenodd;clip-rule:evenodd;fill:#F2CE04;}
	.icon-shield-st9{fill:#3E83FF;}
	.icon-shield-st10{fill-rule:evenodd;clip-rule:evenodd;fill:#3B77ED;}
	.icon-shield-st11{fill-rule:evenodd;clip-rule:evenodd;fill:#28DC8E;}
	.icon-shield-st12{fill-rule:evenodd;clip-rule:evenodd;fill:#27BD83;}
	.icon-shield-st13{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#28DC8E;stroke-width:2.5;stroke-miterlimit:10;}
	.icon-shield-st14{fill-rule:evenodd;clip-rule:evenodd;fill:#269E79;}
	.icon-shield-st15{fill-rule:evenodd;clip-rule:evenodd;fill:#F0F0D8;}
	.icon-shield-st16{fill:none;stroke:#28DC8E;stroke-width:2;stroke-miterlimit:10;}
	.icon-shield-st17{fill:none;stroke:#28DC8E;stroke-miterlimit:10;}
	.icon-shield-st18{opacity:0.2;fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
	.icon-shield-st19{fill-rule:evenodd;clip-rule:evenodd;fill:#2E7AE8;}
	.icon-shield-st20{fill-rule:evenodd;clip-rule:evenodd;fill:#5197FC;}
	.icon-shield-st21{fill-rule:evenodd;clip-rule:evenodd;fill:#3E83FF;}
</style>
<circle class="icon-shield-st0" cx="64" cy="64" r="64"/>
<circle class="icon-shield-st0" cx="64" cy="64" r="64"/>
<path class="icon-shield-st1" d="M13,25.4v73.1h5v-79C16.2,21.4,14.5,23.3,13,25.4z"/>
<path class="icon-shield-st2" d="M13,25.4v73.1h2V22.9C14.3,23.7,13.6,24.5,13,25.4z"/>
<path class="icon-shield-st1" d="M33,8v90.5h5v-93C36.3,6.3,34.6,7.1,33,8z"/>
<path class="icon-shield-st2" d="M33,8v90.5h2V7C34.3,7.3,33.6,7.7,33,8z"/>
<path class="icon-shield-st1" d="M73,0.6v97.9h5V1.6C76.3,1.2,74.7,0.9,73,0.6z"/>
<path class="icon-shield-st2" d="M73,0.6v97.9h2V1C74.3,0.8,73.7,0.7,73,0.6z"/>
<path class="icon-shield-st1" d="M93,6.9v91.6h5V9.8C96.4,8.8,94.7,7.8,93,6.9z"/>
<path class="icon-shield-st2" d="M93,6.9v91.6h2V8C94.3,7.6,93.7,7.3,93,6.9z"/>
<path class="icon-shield-st1" d="M118,29.6c-1.5-2.4-3.2-4.7-5-6.8v75.7h4.9c0,0,0.1-0.1,0.1-0.1V29.6z"/>
<path class="icon-shield-st2" d="M115,25.3c-0.6-0.8-1.3-1.7-2-2.5v75.7h2V25.3z"/>
<rect x="53" y="0.5" class="icon-shield-st1" width="5" height="98"/>
<rect x="53" y="0.5" class="icon-shield-st2" width="2" height="98"/>
<ellipse class="icon-shield-st3" cx="66.2" cy="114.8" rx="23.6" ry="3.9"/>
<path class="icon-shield-st4" d="M127.8,69.3l-0.7-2c-0.6-1.6-2.3-2.8-4-2.8h-38c-1.7,0-3.5,1.3-4,2.8l-4,11.3c-0.6,1.6,0.3,2.8,2,2.8h46.5
	C126.7,77.5,127.4,73.5,127.8,69.3z"/>
<path class="icon-shield-st5" d="M127.8,69.3l-0.7-2c-0.6-1.6-2.3-0.8-4-0.8h-38c-1.7,0-3.5-0.7-4,0.8l-4,11.3c-0.6,1.6,0.3,2.8,2,2.8h46.5
	C126.7,77.5,127.4,73.5,127.8,69.3z"/>
<path class="icon-shield-st6" d="M127.8,69.3l-0.7-2c-0.6-1.6-2.3-0.8-4-0.8h-38c-1.7,0-3.5-0.7-4,0.8l-4,11.3c-0.6,1.6,0.3,0.8,2,0.8h47
	C126.9,76.2,127.5,72.8,127.8,69.3z"/>
<path class="icon-shield-st4" d="M125.6,81.5h-12.5c-1.7,0-3.5,1.3-4,2.8l-4,11.3c-0.6,1.6,0.3,2.8,2,2.8h10.8C121.2,93.3,123.8,87.6,125.6,81.5
	z"/>
<path class="icon-shield-st5" d="M125,83.5h-11.9c-1.7,0-3.5-0.7-4,0.8l-4,11.3c-0.6,1.6,0.3,2.8,2,2.8h10.8C120.9,93.8,123.3,88.8,125,83.5z"/>
<path class="icon-shield-st6" d="M125,83.5h-11.9c-1.7,0-3.5-0.7-4,0.8l-4,11.3c-0.6,1.6,0.3,0.8,2,0.8h12.1C121.5,92.4,123.5,88,125,83.5z"/>
<path class="icon-shield-st4" d="M117.9,98.5h-32c-1.7,0-3.5,1.3-4,2.8l-4,11.3c-0.6,1.6,0.3,2.8,2,2.8H102C108.3,110.8,113.7,105.1,117.9,98.5z
	"/>
<path class="icon-shield-st5" d="M116.9,100h-31c-1.7,0-3.5-0.3-4,1.3l-4,11.3c-0.6,1.6,0.3,2.8,2,2.8H102C107.8,111.2,112.9,106,116.9,100z"/>
<path class="icon-shield-st6" d="M116.9,100h-31c-1.7,0-3.5-0.3-4,1.3l-4,11.3c-0.6,1.6,0.3,0.8,2,0.8h24.7C109.3,109.6,113.5,105.1,116.9,100z"
	/>
<path class="icon-shield-st4" d="M20.2,110.6l-3.3-9.3c-0.6-1.6-2.3-2.8-4-2.8h-2.8C12.9,102.9,16.3,107,20.2,110.6z"/>
<path class="icon-shield-st6" d="M20.2,110.6l-3.3-9.3c-0.6-1.6-2.3-0.8-4-0.8h-1.5C14,104.1,16.9,107.5,20.2,110.6z"/>
<path class="icon-shield-st4" d="M17.9,67.3c-0.6-1.6-2.3-2.8-4-2.8H0c0,5.9,0.9,11.6,2.4,17h17.5c1.6,0,2.5-1.3,2-2.8L17.9,67.3z"/>
<path class="icon-shield-st5" d="M17.9,67.3c-0.6-1.6-2.3-1.3-4-1.3H0.1c0.2,5.3,1,10.5,2.4,15.5h17.5c1.6,0,2.5-1.3,2-2.8L17.9,67.3z"/>
<path class="icon-shield-st6" d="M17.9,67.3c-0.6-1.6-2.3-1.3-4-1.3H0.1c0.1,4.6,0.8,9.1,1.8,13.5h18c1.6,0,2.5,0.7,2-0.8L17.9,67.3z"/>
<path class="icon-shield-st7" d="M116.6,85.5c0.9-4,1.4-5.4,5.5-6.4c-4.1-1.1-4.9-2.8-5.5-6.5c-0.8,3.7-0.8,5.5-4.7,6.5
	C115.8,80.5,115.6,81.6,116.6,85.5z"/>
<path class="icon-shield-st8" d="M107.8,69.3c-0.4-0.2-0.9-0.1-1.2,0.3l-2.3,2.6l-2.3-2.6c-0.3-0.3-0.8-0.4-1.2-0.3c-0.4,0.1-0.6,0.5-0.7,0.9
	c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0.1,0,0.1v0V75c0,0.5,0.3,0.8,0.7,1c0.4,0.2,0.9,0.1,1.2-0.3l0.9-1l0.7,1
	c0.2,0.3,0.5,0.4,0.8,0.4c0.3,0,0.6-0.2,0.8-0.4l0.7-1l0.9,1c0.2,0.2,0.5,0.4,0.8,0.4c0.1,0,0.3,0,0.4-0.1c0.4-0.2,0.7-0.6,0.7-1
	v-4.7C108.5,69.9,108.2,69.5,107.8,69.3z M107.1,70c0.2-0.2,0.4-0.1,0.5-0.1c0.1,0,0.3,0.1,0.3,0.4v0c0,0.1,0,0.2-0.1,0.2
	c0,0,0,0,0,0l-2.1,3.1l-0.9-1L107.1,70z M101,69.9c0,0,0.1,0,0.2,0c0.1,0,0.2,0,0.3,0.1l2.4,2.6l-0.9,1l-2.1-3.1
	c0-0.1-0.1-0.2-0.1-0.2C100.7,70,100.9,69.9,101,69.9z M101.5,75.3c-0.2,0.2-0.4,0.1-0.5,0.1c-0.1,0-0.3-0.1-0.3-0.4v-3.4l1.7,2.5
	L101.5,75.3z M104.5,75.3c-0.1,0.1-0.1,0.1-0.2,0.1c-0.1,0-0.2,0-0.2-0.1l-0.7-1.1l1-1.1l1,1.1L104.5,75.3z M107.6,75.4
	c-0.1,0-0.3,0.1-0.5-0.1l-1-1.1l1.7-2.5V75C107.8,75.2,107.6,75.3,107.6,75.4z"/>
<path class="icon-shield-st5" d="M53.9,84.3c0.6-1.6,2.3-2.8,4-2.8h38c1.7,0,3.5,1.3,4,2.8l4,11.3c0.6,1.6-0.3,2.8-2,2.8h-50
	c-1.7,0-2.5-1.3-2-2.8L53.9,84.3z"/>
<path class="icon-shield-st6" d="M53.9,84.3c0.6-1.6,2.3-2.8,4-2.8h38c1.7,0,3.5,1.3,4,2.8l4,11.3c0.6,1.6-0.3,0.8-2,0.8h-50
	c-1.7,0-2.5,0.7-2-0.8L53.9,84.3z"/>
<path class="icon-shield-st4" d="M22.9,112.6l4-11.3c0.6-1.6,2.3-2.8,4-2.8h38c1.7,0,3.5,1.3,4,2.8l4,11.3c0.6,1.6-0.3,2.8-2,2.8H27L22.9,112.6z
	"/>
<path class="icon-shield-st8" d="M108.6,103.3c-0.4-0.2-0.9-0.1-1.2,0.3l-2.3,2.6l-2.3-2.6c-0.3-0.3-0.8-0.4-1.2-0.3c-0.4,0.1-0.6,0.5-0.7,0.9
	c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0.1,0,0.1v0v4.7c0,0.5,0.3,0.8,0.7,1c0.4,0.2,0.9,0.1,1.2-0.3l0.9-1l0.7,1
	c0.2,0.3,0.5,0.4,0.8,0.4c0.3,0,0.6-0.2,0.8-0.4l0.7-1l0.9,1c0.2,0.2,0.5,0.4,0.8,0.4c0.1,0,0.3,0,0.4-0.1c0.4-0.2,0.7-0.6,0.7-1
	v-4.7C109.3,103.9,109,103.5,108.6,103.3z M107.9,104c0.2-0.2,0.4-0.1,0.5-0.1c0.1,0,0.3,0.1,0.3,0.4v0c0,0.1,0,0.2-0.1,0.2
	c0,0,0,0,0,0l-2.1,3.1l-0.9-1L107.9,104z M101.8,103.9c0,0,0.1,0,0.2,0c0.1,0,0.2,0,0.3,0.1l2.4,2.6l-0.9,1l-2.1-3.1
	c0-0.1-0.1-0.2-0.1-0.2C101.5,104,101.7,103.9,101.8,103.9z M102.3,109.3c-0.2,0.2-0.4,0.1-0.5,0.1c-0.1,0-0.3-0.1-0.3-0.4v-3.4
	l1.7,2.5L102.3,109.3z M105.3,109.3c-0.1,0.1-0.1,0.1-0.2,0.1c-0.1,0-0.2,0-0.2-0.1l-0.7-1.1l1-1.1l1,1.1L105.3,109.3z M108.4,109.4
	c-0.1,0-0.3,0.1-0.5-0.1l-1-1.1l1.7-2.5v3.4C108.6,109.2,108.4,109.3,108.4,109.4z"/>
<path class="icon-shield-st4" d="M26.9,67.3c0.6-1.6,2.3-2.8,4-2.8h38c1.7,0,3.5,1.3,4,2.8l4,11.3c0.6,1.6-0.3,2.8-2,2.8h-50
	c-1.7,0-2.5-1.3-2-2.8L26.9,67.3z"/>
<path class="icon-shield-st5" d="M26.9,67.3c0.6-1.6,2.3-0.8,4-0.8h38c1.7,0,3.5-0.7,4,0.8l4,11.3c0.6,1.6-0.3,2.8-2,2.8h-50
	c-1.7,0-2.5-1.3-2-2.8L26.9,67.3z"/>
<path class="icon-shield-st6" d="M26.9,67.3c0.6-1.6,2.3-0.8,4-0.8h38c1.7,0,3.5-0.7,4,0.8l4,11.3c0.6,1.6-0.3,0.8-2,0.8h-50
	c-1.7,0-2.5,0.7-2-0.8L26.9,67.3z"/>
<path class="icon-shield-st4" d="M8.9,50.3c0.6-1.6,2.3-2.8,4-2.8h38c1.7,0,3.5,1.3,4,2.8l4,11.3c0.6,1.6-0.3,2.8-2,2.8h-50
	c-1.7,0-2.5-1.3-2-2.8L8.9,50.3z"/>
<path class="icon-shield-st5" d="M8.9,50.3c0.6-1.6,2.3-1.3,4-1.3h38c1.7,0,3.5-0.3,4,1.3l4,11.3c0.6,1.6-0.3,2.8-2,2.8h-50
	c-1.7,0-2.5-1.3-2-2.8L8.9,50.3z"/>
<path class="icon-shield-st6" d="M8.9,50.3c0.6-1.6,2.3-1.3,4-1.3h38c1.7,0,3.5-0.3,4,1.3l4,11.3c0.6,1.6-0.3,0.8-2,0.8h-50
	c-1.7,0-2.5,0.7-2-0.8L8.9,50.3z"/>
<path class="icon-shield-st8" d="M35.6,52.3c-0.4-0.2-0.9-0.1-1.2,0.3l-2.3,2.6l-2.3-2.6c-0.3-0.3-0.8-0.4-1.2-0.3c-0.4,0.1-0.6,0.5-0.7,0.9
	c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0.1,0,0.1v0V58c0,0.5,0.3,0.8,0.7,1c0.4,0.2,0.9,0.1,1.2-0.3l0.9-1l0.7,1
	c0.2,0.3,0.5,0.4,0.8,0.4c0.3,0,0.6-0.2,0.8-0.4l0.7-1l0.9,1c0.2,0.2,0.5,0.4,0.8,0.4c0.1,0,0.3,0,0.4-0.1c0.4-0.2,0.7-0.6,0.7-1
	v-4.7C36.3,52.9,36,52.5,35.6,52.3z M34.9,53c0.2-0.2,0.4-0.1,0.5-0.1c0.1,0,0.3,0.1,0.3,0.4v0c0,0.1,0,0.2-0.1,0.2c0,0,0,0,0,0
	l-2.1,3.1l-0.9-1L34.9,53z M28.8,52.9c0,0,0.1,0,0.2,0c0.1,0,0.2,0,0.3,0.1l2.4,2.6l-0.9,1l-2.1-3.1c0-0.1-0.1-0.2-0.1-0.2
	C28.5,53,28.7,52.9,28.8,52.9z M29.3,58.3c-0.2,0.2-0.4,0.1-0.5,0.1c-0.1,0-0.3-0.1-0.3-0.4v-3.4l1.7,2.5L29.3,58.3z M32.3,58.3
	c-0.1,0.1-0.1,0.1-0.2,0.1c-0.1,0-0.2,0-0.2-0.1l-0.7-1.1l1-1.1l1,1.1L32.3,58.3z M35.4,58.4c-0.1,0-0.3,0.1-0.5-0.1l-1-1.1l1.7-2.5
	V58C35.6,58.2,35.4,58.3,35.4,58.4z"/>
<path class="icon-shield-st4" d="M66.9,50.3c0.6-1.6,2.3-2.8,4-2.8h38c1.7,0,3.5,1.3,4,2.8l4,11.3c0.6,1.6-0.3,2.8-2,2.8h-50
	c-1.7,0-2.5-1.3-2-2.8L66.9,50.3z"/>
<path class="icon-shield-st5" d="M66.9,50.3c0.6-1.6,2.3-1.8,4-1.8h38c1.7,0,3.5,0.3,4,1.8l4,11.3c0.6,1.6-0.3,2.8-2,2.8h-50
	c-1.7,0-2.5-1.3-2-2.8L66.9,50.3z"/>
<path class="icon-shield-st6" d="M66.9,50.3c0.6-1.6,2.3-1.8,4-1.8h38c1.7,0,3.5,0.3,4,1.8l4,11.3c0.6,1.6-0.3,0.8-2,0.8h-50
	c-1.7,0-2.5,0.7-2-0.8L66.9,50.3z"/>
<path class="icon-shield-st4" d="M42.9,16.3c0.6-1.6,2.3-2.8,4-2.8h38c1.7,0,3.5,1.3,4,2.8l4,11.3c0.6,1.6-0.3,2.8-2,2.8h-50
	c-1.7,0-2.5-1.3-2-2.8L42.9,16.3z"/>
<path class="icon-shield-st6" d="M42.9,16.3c0.6-1.6,2.3-0.8,4-0.8h38c1.7,0,3.5-0.7,4,0.8l4,11.3c0.6,1.6-0.3,2.8-2,2.8h-50
	c-1.7,0-2.5-1.3-2-2.8L42.9,16.3z"/>
<path class="icon-shield-st8" d="M69.6,18.3c-0.4-0.2-0.9-0.1-1.2,0.3l-2.3,2.6l-2.3-2.6c-0.3-0.3-0.8-0.4-1.2-0.3c-0.4,0.1-0.6,0.5-0.7,0.9
	c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0.1,0,0.1v0V24c0,0.5,0.3,0.8,0.7,1c0.4,0.2,0.9,0.1,1.2-0.3l0.9-1l0.7,1
	c0.2,0.3,0.5,0.4,0.8,0.4c0.3,0,0.6-0.2,0.8-0.4l0.7-1l0.9,1c0.2,0.2,0.5,0.4,0.8,0.4c0.1,0,0.3,0,0.4-0.1c0.4-0.2,0.7-0.6,0.7-1
	v-4.7C70.3,18.9,70,18.5,69.6,18.3z M68.9,19c0.2-0.2,0.4-0.1,0.5-0.1c0.1,0,0.3,0.1,0.3,0.4v0c0,0.1,0,0.2-0.1,0.2c0,0,0,0,0,0
	l-2.1,3.1l-0.9-1L68.9,19z M62.8,18.9c0,0,0.1,0,0.2,0c0.1,0,0.2,0,0.3,0.1l2.4,2.6l-0.9,1l-2.1-3.1c0-0.1-0.1-0.2-0.1-0.2
	C62.5,19,62.7,18.9,62.8,18.9z M63.3,24.3c-0.2,0.2-0.4,0.1-0.5,0.1c-0.1,0-0.3-0.1-0.3-0.4v-3.4l1.7,2.5L63.3,24.3z M66.3,24.3
	c-0.1,0.1-0.1,0.1-0.2,0.1c-0.1,0-0.2,0-0.2-0.1l-0.7-1.1l1-1.1l1,1.1L66.3,24.3z M69.4,24.4c-0.1,0-0.3,0.1-0.5-0.1l-1-1.1l1.7-2.5
	V24C69.6,24.2,69.4,24.3,69.4,24.4z"/>
<path class="icon-shield-st4" d="M22.9,33.3c0.6-1.6,2.3-2.8,4-2.8h38c1.7,0,3.5,1.3,4,2.8l4,11.3c0.6,1.6-0.3,2.8-2,2.8h-50
	c-1.7,0-2.5-1.3-2-2.8L22.9,33.3z"/>
<path class="icon-shield-st5" d="M22.9,33.3c0.6-1.6,2.3-0.8,4-0.8h38c1.7,0,3.5-0.7,4,0.8l4,11.3c0.6,1.6-0.3,2.8-2,2.8h-50
	c-1.7,0-2.5-1.3-2-2.8L22.9,33.3z"/>
<path class="icon-shield-st6" d="M22.9,33.3c0.6-1.6,2.3-0.8,4-0.8h38c1.7,0,3.5-0.7,4,0.8l4,11.3c0.6,1.6-0.3,0.8-2,0.8h-50
	c-1.7,0-2.5,0.7-2-0.8L22.9,33.3z"/>
<path class="icon-shield-st4" d="M44.9,84.3c-0.6-1.6-2.3-2.8-4-2.8h-38c-0.1,0-0.3,0-0.4,0c1.7,6.1,4.3,11.8,7.6,17h36.8c1.6,0,2.5-1.3,2-2.8
	L44.9,84.3z"/>
<path class="icon-shield-st5" d="M44.9,84.3c-0.6-1.6-2.3-0.8-4-0.8H3c1.7,5.3,4.1,10.4,7.1,15h36.8c1.6,0,2.5-1.3,2-2.8L44.9,84.3z"/>
<path class="icon-shield-st5" d="M72.9,101.3c-0.6-1.6-2.3-0.8-4-0.8h-38c-1.7,0-3.5-0.7-4,0.8l-4,11.3c0,0.1-0.1,0.2-0.1,0.3
	c1,0.9,2.1,1.7,3.2,2.5h48.9c1.6,0,2.5-1.3,2-2.8L72.9,101.3z"/>
<path class="icon-shield-st6" d="M72.9,101.3c-0.6-1.6-2.3-0.8-4-0.8h-38c-1.7,0-3.5-0.7-4,0.8l-4,11.3c0,0.1-0.1,0.2-0.1,0.3
	c0.3,0.2,0.5,0.4,0.8,0.6c0.4-0.1,0.8-0.1,1.3-0.1h50c1.6,0,2.5,0.7,2-0.8L72.9,101.3z"/>
<path class="icon-shield-st6" d="M44.9,84.3c-0.6-1.6-2.3-0.8-4-0.8H3c1.5,4.6,3.4,8.9,5.8,13h38c1.6,0,2.5,0.7,2-0.8L44.9,84.3z"/>
<path class="icon-shield-st8" d="M53.6,103.3c-0.4-0.2-0.9-0.1-1.2,0.3l-2.3,2.6l-2.3-2.6c-0.3-0.3-0.8-0.4-1.2-0.3c-0.4,0.1-0.6,0.5-0.7,0.9
	c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0.1,0,0.1v0v4.7c0,0.5,0.3,0.8,0.7,1c0.4,0.2,0.9,0.1,1.2-0.3l0.9-1l0.7,1
	c0.2,0.3,0.5,0.4,0.8,0.4c0.3,0,0.6-0.2,0.8-0.4l0.7-1l0.9,1c0.2,0.2,0.5,0.4,0.8,0.4c0.1,0,0.3,0,0.4-0.1c0.4-0.2,0.7-0.6,0.7-1
	v-4.7C54.3,103.9,54,103.5,53.6,103.3z M52.9,104c0.2-0.2,0.4-0.1,0.5-0.1c0.1,0,0.3,0.1,0.3,0.4v0c0,0.1,0,0.2-0.1,0.2c0,0,0,0,0,0
	l-2.1,3.1l-0.9-1L52.9,104z M46.8,103.9c0,0,0.1,0,0.2,0c0.1,0,0.2,0,0.3,0.1l2.4,2.6l-0.9,1l-2.1-3.1c0-0.1-0.1-0.2-0.1-0.2
	C46.5,104,46.7,103.9,46.8,103.9z M47.3,109.3c-0.2,0.2-0.4,0.1-0.5,0.1c-0.1,0-0.3-0.1-0.3-0.4v-3.4l1.7,2.5L47.3,109.3z
	 M50.3,109.3c-0.1,0.1-0.1,0.1-0.2,0.1c-0.1,0-0.2,0-0.2-0.1l-0.7-1.1l1-1.1l1,1.1L50.3,109.3z M53.4,109.4c-0.1,0-0.3,0.1-0.5-0.1
	l-1-1.1l1.7-2.5v3.4C53.6,109.2,53.4,109.3,53.4,109.4z"/>
<path class="icon-shield-st8" d="M25.6,86.3c-0.4-0.2-0.9-0.1-1.2,0.3l-2.3,2.6l-2.3-2.6c-0.3-0.3-0.8-0.4-1.2-0.3c-0.4,0.1-0.6,0.5-0.7,0.9
	c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0.1,0,0.1v0V92c0,0.5,0.3,0.8,0.7,1c0.4,0.2,0.9,0.1,1.2-0.3l0.9-1l0.7,1
	c0.2,0.3,0.5,0.4,0.8,0.4c0.3,0,0.6-0.2,0.8-0.4l0.7-1l0.9,1c0.2,0.2,0.5,0.4,0.8,0.4c0.1,0,0.3,0,0.4-0.1c0.4-0.2,0.7-0.6,0.7-1
	v-4.7C26.3,86.9,26,86.5,25.6,86.3z M24.9,87c0.2-0.2,0.4-0.1,0.5-0.1c0.1,0,0.3,0.1,0.3,0.4v0c0,0.1,0,0.2-0.1,0.2c0,0,0,0,0,0
	l-2.1,3.1l-0.9-1L24.9,87z M18.8,86.9c0,0,0.1,0,0.2,0c0.1,0,0.2,0,0.3,0.1l2.4,2.6l-0.9,1l-2.1-3.1c0-0.1-0.1-0.2-0.1-0.2
	C18.5,87,18.7,86.9,18.8,86.9z M19.3,92.3c-0.2,0.2-0.4,0.1-0.5,0.1c-0.1,0-0.3-0.1-0.3-0.4v-3.4l1.7,2.5L19.3,92.3z M22.3,92.3
	c-0.1,0.1-0.1,0.1-0.2,0.1c-0.1,0-0.2,0-0.2-0.1l-0.7-1.1l1-1.1l1,1.1L22.3,92.3z M25.4,92.4c-0.1,0-0.3,0.1-0.5-0.1l-1-1.1l1.7-2.5
	V92C25.6,92.2,25.4,92.3,25.4,92.4z"/>
<g>
	<path class="icon-shield-st9" d="M104.3,82.4c0.5-0.2,0.7-0.8,0.4-1.3l-1.5-2.6c-0.3-0.5-0.9-0.6-1.3-0.2l-7.7,6.3l1.1,2L104.3,82.4z"/>
	<circle class="icon-shield-st10" cx="93.8" cy="86.1" r="6.1"/>
	<path class="icon-shield-st9" d="M98.1,95.9c0.4,0.4,1,0.5,1.4,0.1l2.2-2.2c0.4-0.4,0.3-1-0.1-1.3l-8.1-5.8l-1.7,1.6L98.1,95.9z"/>
	<path class="icon-shield-st11" d="M30.4,35.1c0-1.4,1-3,2.4-3.5c0,0,15.4-6.6,33.1-6.6S99,31.7,99,31.7c1.3,0.5,2.3,2.1,2.3,3.5v24.8
		c0,19.6-14.2,42.6-31.6,51.5l-1.1,0.6c-1.5,0.8-3.9,0.8-5.4,0l-1.1-0.6c-17.5-8.8-31.6-31.9-31.6-51.5V35.1z"/>
	<path class="icon-shield-st12" d="M35.6,38c0,0,15.2-6.5,30.3-6.5S96.1,38,96.1,38v23.3c0,16.7-12.1,36.4-27,44l-0.6,0.3
		c-1.5,0.8-3.9,0.8-5.4,0l-0.6-0.3c-14.9-7.6-27-27.2-27-44V38z"/>
	<circle class="icon-shield-st13" cx="38" cy="39.6" r="6.4"/>
	<circle class="icon-shield-st14" cx="38" cy="39.6" r="5.2"/>
	<path class="icon-shield-st12" d="M38,44.8c2.9,0,5.2-2.3,5.2-5.2s-2.3-4.2-5.2-4.2s-5.2,1.3-5.2,4.2S35.1,44.8,38,44.8z"/>
	<circle class="icon-shield-st11" cx="38" cy="39.6" r="2.6"/>
	<circle class="icon-shield-st13" cx="93" cy="39.6" r="6.4"/>
	<circle class="icon-shield-st14" cx="93.2" cy="39.6" r="5.2"/>
	<path class="icon-shield-st12" d="M93.2,44.8c2.9,0,5.2-2.3,5.2-5.2s-2.3-4.2-5.2-4.2S88,36.7,88,39.6S90.3,44.8,93.2,44.8z"/>
	<circle class="icon-shield-st11" cx="93.2" cy="39.6" r="2.6"/>
	<circle class="icon-shield-st15" cx="65.9" cy="65" r="13.7"/>
	<circle class="icon-shield-st16" cx="65.9" cy="65" r="13.7"/>
	<path class="icon-shield-st11" d="M59.9,64.8c0-0.8,0.7-1.5,1.5-1.5h9.1c0.8,0,1.5,0.7,1.5,1.5v6.8c0,0.8-0.7,1.5-1.5,1.5h-9.1
		c-0.8,0-1.5-0.7-1.5-1.5V64.8z"/>
	<path class="icon-shield-st15" d="M60.9,66.3c0-0.3,0.2-0.5,0.5-0.5h9.1c0.3,0,0.5,0.2,0.5,0.5v3.5c0,0.3-0.2,0.5-0.5,0.5h-9.1
		c-0.3,0-0.5-0.2-0.5-0.5V66.3z"/>
	<line class="icon-shield-st17" x1="63.2" y1="65" x2="63.2" y2="71.1"/>
	<line class="icon-shield-st17" x1="65.9" y1="65" x2="65.9" y2="71.1"/>
	<line class="icon-shield-st17" x1="68.7" y1="65" x2="68.7" y2="71.1"/>
	<path class="icon-shield-st17" d="M62.7,63.9v-3.4c0-1.9,1.5-3.4,3.4-3.4c1.9,0,3.4,1.5,3.4,3.4v3.4"/>
	<path class="icon-shield-st18" d="M98.9,31.7c0,0-15.3-6.6-32.9-6.6v87.5c0.9,0,1.8-0.2,2.5-0.6l1.1-0.6c17.5-8.8,31.6-31.9,31.6-51.5V35.1
		C101.2,33.7,100.2,32.2,98.9,31.7z"/>
	<path class="icon-shield-st19" d="M36.3,89.1c-1.6-2.8-1.2-5.5-1.2-5.5c0-0.6,0.5-1,1.1-1c0,0,12.5,0.2,29.6,0.2s29.5-0.2,29.5-0.2
		c0.6,0,0.9,0.4,0.8,1c0,0-0.7,2.9-1.8,5c-1.1,2.1-3.1,4.2-3.1,4.2c-0.4,0.4-1.1,0.7-1.7,0.7H65.8H42.6c-0.6,0-1.4-0.2-1.9-0.5
		C40.7,93,37.9,91.9,36.3,89.1z"/>
	<path class="icon-shield-st20" d="M36.3,89.1c-1.6-2.8-1.2-5.5-1.2-5.5c0-0.6,0.5-1,1.1-1c0,0,12.5,0.2,29.6,0.2s29.5-0.2,29.5-0.2
		c0.6,0,0.9,0.4,0.8,1c0,0-0.7,2.9-1.8,5c-1.1,2.1-3.1,2.2-3.1,2.2c-0.4,0.4-1.1,0.7-1.7,0.7H65.8H42.6c-0.6,0-1.4-0.2-1.9-0.5
		C40.7,91,37.9,91.9,36.3,89.1z"/>
	<path class="icon-shield-st21" d="M36.3,89.1c-1.6-2.8-1.2-5.5-1.2-5.5c0-0.6,0.5,1,1.1,1c0,0,12.5,0.2,29.6,0.2s29.5-0.2,29.5-0.2
		c0.6,0,0.9-1.6,0.8-1c0,0-0.7,2.9-1.8,5c-1.1,2.1-3.1,2.2-3.1,2.2c-0.4,0.4-1.1,0.7-1.7,0.7H65.8H42.6c-0.6,0-1.4-0.2-1.9-0.5
		C40.7,91,37.9,91.9,36.3,89.1z"/>
</g>
</svg>
                            <h2 class="h2 safety__h2">Our security</h2>
                            <p class="p safety__p">The security of your money and personal data is our utmost priority. We adhere closely to the latest standards in financial security, applying modern tools and techniques to protect our systems 24/7.</p>
                        </div>
                    </div>
                    <div class="row safety__row">
                        <a class="safety__btn btn btn--transparent btn--full" href="features/security.html">
                            More about security
                            <svg class="btn__arrow arrow btn__arrow--one">
                                <use xlink:href="#icon-arrow" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        

 
<div class="bg-grey-1 pv4 hidden">
	<div class="ph3 mw7 center">

		<div class="flex-l mhn2-l">
			<div class="w-40-l ph2-l">
				<h2 class="f2 b lh-title mb2">{{.heading}}</h1>

				<p>{{.text}}</p>
			</div>

			<div class="w-60-l ph2-l">
				<img src="img/home/about-section.jpg" alt="" class="mb3">
			</div>
		</div>

		<div class="tc">
			<a href="{{.buttonLink}}" class="btn raise">{{.buttonText}}</a>
		</div>

	</div>
</div>
