{{ partial "head" . }}

{{ partial "nav" . }}

    <div class="ncontainer">
   <div class="main-header main-header--one-1 main-header--devices">
    	<div class="container main-header__container">
	        <h1 class="h1 main-header__h1 main-header__h1--three main-header__h1--pricing dont-break-out">Supporting many card terminal devices - EMV, magnetic stripe, and contactless payments.</h1>
		<a class="main-header__btn main-header__btn--pricing btn btn--one main-header__btn--tablet" href="/free-trial-account.html">
			        	Try account free
			    	</a>
<img class="p main-header__img" src="https://static.monese.com/img/pricing-screen-sm_171019_215025.png?mtime=20171019215026">
		         <a class="main-header__btn main-header__btn--pricing btn btn--one main-header__btn--mobile" href="/free-trial-account.html">
			        	Try account free
			    	</a>
		    		    	
	    	       </div>
    </div>     
        <header class="main-header main-header--one-1 shidden">
        <div class="container sub-header__container">
            <div class="sub-header__row row">
                <div class="sub-header__col">
                    <h1 class="h3 sub-header__h1">Devices</h1>
                    <h2 class="h2 sub-header__h2">Support POS Devices via online or mobile</h2>
                </div>
            </div>
        </div>
    </header>
        <nav class="subnav">
        <a class="subnav__btn btn btn--tiny" href="/free-trial-account.html">Try free</a>
        <a class="subnav__back" href="/features.html">
            <svg class="subnav__arrow">
                <use xlink:href="#icon-arrow" />
            </svg>

            <svg class="subnav__arrow subnav__arrow--sm">
                <use xlink:href="#icon-arrowlong" />
            </svg>

            <p class="subnav__backc">Back</p>
        </a>
        <div class="subnav__col">
            <a href="/features.html" class="subnav__a subnav__a--main">Features</a>
            <span class="subnav__slash">/</span> 
            <span class="subnav__cur">Deposits</span>
        </div>
    </nav>

    <div class="features-detail">

                    <div class="features-detail__row">

                                
                <img class="faq-detail__img" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2716%27%20height%3D%279%27%20style%3D%27background%3Atransparent%27%2F%3E" sizes="100vw" srcset="https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/paid_27c1268297525baf05d5ca1476dd7975.jpg 2048w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/paid_18410075a4f936001e6b428c3f1b20eb.jpg 1536w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/paid_130458e5f63b245682e466d9584efeea.jpg 512w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/paid_e687c9dc062e2ee6a6f188270f278927.jpg 256w" alt="Banking was broken… So we fixed it!">

                <h2 class="h3">Get paid</h2>
                <h3 class="h2">Your way</h3>
                <p>There are several ways to deposit money into your monese account. For customers in the UK Monese’s current accounts come with an account number and sort code so you can receive UK bank transfers from individuals or companies and even your regular salary / wages direct from an employer.</p>
            </div>
                    <div class="features-detail__row">

                                
                <img class="faq-detail__img" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2716%27%20height%3D%279%27%20style%3D%27background%3Atransparent%27%2F%3E" sizes="100vw" srcset="https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/transfers_27c1268297525baf05d5ca1476dd7975.jpg 2048w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/transfers_18410075a4f936001e6b428c3f1b20eb.jpg 1536w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/transfers_130458e5f63b245682e466d9584efeea.jpg 512w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/transfers_e687c9dc062e2ee6a6f188270f278927.jpg 256w" alt="Banking was broken… So we fixed it!">

                <h2 class="h3">Bank transfers</h2>
                <h3 class="h2">From outside the UK</h3>
                <p>If you are outside of the UK you can still make payments into your UK Monese account via our European IBAN. Simply make a bank transfer to our European IBAN account and include your Monese ID as a payment reference, so we can do currency conversion at the real exchange rate (getting you the best possible exchange rate) and route your funds as GBP to your UK Monese account.</p>
            </div>
                    <div class="features-detail__row">

                                
                <img class="faq-detail__img" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2716%27%20height%3D%279%27%20style%3D%27background%3Atransparent%27%2F%3E" sizes="100vw" srcset="https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/deposit_27c1268297525baf05d5ca1476dd7975.jpg 2048w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/deposit_18410075a4f936001e6b428c3f1b20eb.jpg 1536w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/deposit_130458e5f63b245682e466d9584efeea.jpg 512w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/deposit_e687c9dc062e2ee6a6f188270f278927.jpg 256w" alt="Banking was broken… So we fixed it!">

                <h2 class="h3">Deposit cash</h2>
                <h3 class="h2">Across the UK</h3>
                <p>You can deposit cash at over 40,000 locations across the UK and you don’t even need to enter a bank to do it. We’ve partnered with the Post Office and PayPoint to enable our customers to use any Post Office brand or high-street convenience store, corner-store or off-license displaying the PayPoint logo to deposit cash direct to their Monese account instantly.</p>
            </div>
                    <div class="features-detail__row">

                                
                <img class="faq-detail__img" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2716%27%20height%3D%279%27%20style%3D%27background%3Atransparent%27%2F%3E" sizes="100vw" srcset="https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/postoffice-2_27c1268297525baf05d5ca1476dd7975.jpg 2048w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/postoffice-2_18410075a4f936001e6b428c3f1b20eb.jpg 1536w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/postoffice-2_130458e5f63b245682e466d9584efeea.jpg 512w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/postoffice-2_e687c9dc062e2ee6a6f188270f278927.jpg 256w" alt="Banking was broken… So we fixed it!">

                <h2 class="h3">Post Office</h2>
                <h3 class="h2">Using the Post Office to deposit</h3>
                <p>Just ask to top up your Monese Mastercard at the Post Office counter, hand the cash to the cashier and insert your Monese debit card into the chip and pin reader to have the money credited to your Monese account the next business day.</p>
            </div>
                    <div class="features-detail__row">

                                
                <img class="faq-detail__img" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2716%27%20height%3D%279%27%20style%3D%27background%3Atransparent%27%2F%3E" sizes="100vw" srcset="https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/paypoint_27c1268297525baf05d5ca1476dd7975.jpg 2048w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/paypoint_18410075a4f936001e6b428c3f1b20eb.jpg 1536w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/paypoint_130458e5f63b245682e466d9584efeea.jpg 512w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/paypoint_e687c9dc062e2ee6a6f188270f278927.jpg 256w" alt="Banking was broken… So we fixed it!">

                <h2 class="h3">PayPoint</h2>
                <h3 class="h2">Using PayPoint to deposit</h3>
                <p>Just ask to use PayPoint to load your Monese debit card at the counter, then present your Monese card and the cash you wish to deposit.</p>
            </div>
        
    </div>

        <div class="main-account ">
        <div class="container">
            <div class="row">
                <div class="main-account__col">
                    <h2 class="h3 main-account__h2">Your main account</h2>
                    <h3 class="h2 main-account__h3">Banking without boundaries</h3>
                    <p class="p main-account__p">Monese is not a bank - we specialise in one thing and that&#039;s current accounts.</p>
                    <ul class="main-account__ul">
                        <li class="main-account__li">
                            <svg class="icon-listtick main-account__tick">
                                <use xlink:href="#icon-listtick" />
                            </svg>
                            Unlimited transactions
                        </li>
                        <li class="main-account__li">
                            <svg class="icon-listtick main-account__tick">
                                <use xlink:href="#icon-listtick" />
                            </svg>
                            Receive £ or € bank transfers
                        </li>
                        <li class="main-account__li">
                            <svg class="icon-listtick main-account__tick">
                                <use xlink:href="#icon-listtick" />
                            </svg>
                            Contactless debit card
                        </li>
                        <li class="main-account__li">
                            <svg class="icon-listtick main-account__tick">
                                <use xlink:href="#icon-listtick" />
                            </svg>
                            Fast bank transfers
                        </li>
                        <li class="main-account__li">
                            <svg class="icon-listtick main-account__tick">
                                <use xlink:href="#icon-listtick" />
                            </svg>
                            Get cash at ATMs globally
                        </li>
                                                <li class="main-account__li">
                            <svg class="icon-listtick main-account__tick">
                                <use xlink:href="#icon-listtick" />
                            </svg>
                            Direct debits
                        </li>
                                            </ul>
                    <a href="../free-trial-account.html" class="main-account__btn btn btn-primary btn-round btn-fill btn-lg">Try account free</a>
                </div>
            </div>
        </div>
    </div>
    
        

 
{{ partial "insider" . }}     
 
{{ partial "sitemap" . }}      
        
{{ partial "footer" . }}
