
{{ partial "head" . }}


 <div class="ncontainer">
        
            <header class="sub-header sub-header--grey">
        <div class="container sub-header__container">
            <div class="sub-header__row row">
                <div class="sub-header__col">
                    <h1 class="h1 sub-header__h1">404</h1>
                    <h2 class="h2 sub-header__h2">Page not found</h2>
                </div>
            </div>
        </div>
    </header>    
    

	 {{ partial "footer" . }}
