{{ partial "head" . }}

{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" "/img/home/jumbotron.jpg" "title" "Fast And Secure Payments " "subtitle" "Open a merchant account on your mobile, without address or credit history.") }}

{{ partial "2-up" (dict "heading" "Reliable Solutions For Every Transaction" "description" "" "svg1" "img/illustrations/coffee.svg" "text1" "Elektropay® is a modern payment gateway service which enables businesses to accept credit/debit/gift cards via any commerce channel." "text2" "Either it be EMV, magnetic swipe, contactless, manually-keyed, mobile and eCommerce transactions are all supported with point-to-point encryption and Tokenization for card data protection. " "buttonText" "Learn More" "buttonLink" "/features"  ) }}

{{ partial "short-text" (dict "heading" "More Than Just Payments" "text" "The world of payments and commerce is complex. We built Elektropay so your billing wouldn't be.")}}

{{ partial "text-and-image" (dict "heading" "Connected Commerce Solutions To Help Grow" "text" "From Hosted Payment Pages to our EMobile POS, Elktroapy offers the tools you need to give your customers a frictionless checkout experience. " "buttonText" "Read more" "buttonLink" "/about") }}



{{ partial "insider" . }}     
 
{{ partial "sitemap" . }}      
        
{{ partial "footer" . }}
