{{ partial "head" . }}

{{ partial "nav" . }}
<div class="ncontainer">
        
            <div class="about about--first">
            <div class="container about__container">
                <div class="row about__row">
                    <div>
                        <div class="about__lines lines">
                            <div class="lines__line lines__line--four"></div>
                            <div class="lines__line lines__line--two"></div>
                            <div class="lines__line lines__line--one"></div>
                        </div>
                        <h1 class="h1 about__h1">Our Story</h1>
                    </div>
                </div>
            </div>
        </div>
    
            <div class="about">
            <div class="container about__container">
                <div class="row about__row">
                    <div>
                        <div class="about__lines lines">
                            <div class="lines__line lines__line--four lines__line--primary"></div>
                            <div class="lines__line lines__line--two lines__line--sixty"></div>
                        </div>
                        <h2 class="h2 about__h2 about__h2--date">2014</h2>
                        <p class="about__p about__p--center">When Elektropay founder Richard Rowe first moved to the UK from Jamaica, he faced a frustrating experience that is all too common.</p>

                                                 
                            <img class="about__img" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2716%27%20height%3D%279%27%20style%3D%27background%3Atransparent%27%2F%3E" sizes="100vw" srcset="https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/norris-koppel_8e8145dbde908cc496969e21de61143a.jpg 1924w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/norris-koppel_18410075a4f936001e6b428c3f1b20eb.jpg 1536w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/norris-koppel_b64fc767d3d7ca9c1fd51325928a0f0e.jpg 1024w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/norris-koppel_62a3c087a87ec9c8ef005515c44c4949.jpg 512w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/norris-koppel_060e012c8487784e655524c9661b5008.jpg 256w" alt="2014">
                        <p class="about__p">With no UK credit history or utility bills proving his address, he was immediately denied a bank account. Without one, he found it near impossible to receive his salary or rent an apartment.</p>
                    </div>
                </div>
            </div>
        </div>
    
            <div class="about">
            <div class="container about__container">
                <div class="row about__row">
                    <div>
                        <div class="about__lines lines">
                            <div class="lines__line lines__line--four lines__line--primary"></div>
                            <div class="lines__line lines__line--two lines__line--sixty"></div>
                        </div>
                        <h2 class="h2 about__h2 about__h2--date">2015</h2>

                                                
                            <img class="about__img--biz" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2716%27%20height%3D%279%27%20style%3D%27background%3Atransparent%27%2F%3E" sizes="100vw" srcset="https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/open-for-biz-2_38eefbac3e5a4668cad1731d5de19cea.gif 726w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/open-for-biz-2_62a3c087a87ec9c8ef005515c44c4949.gif 512w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/open-for-biz-2_060e012c8487784e655524c9661b5008.gif 256w" alt="2015">

                        <p>From his painful experience, Elektropay was born - a payments service that was inclusive, instant and on-demand.</p>
<p>Monese launched in September 2015 as the first 100% mobile current account in the UK.</p>
<p>Today, people from all over Europe can open a UK current account in minutes, free from the hidden fees and restrictions that legacy banks impose.</p>
                    </div>
                </div>
            </div>
        </div>
    
            <div class="about">
            <div class="container about__container">
                <div class="row about__row">
                    <div>
                        <div class="about__lines lines">
                            <div class="lines__line lines__line--two lines__line--primary lines__line--thirty"></div>
                            <div class="lines__line lines__line--one lines__line--secondary lines__line--fifty"></div>
                            <div class="lines__line lines__line--four lines__line--fifty"></div>
                        </div>
                        <h2 class="h2 about__h2 about__h2--date">6 months later…<br> Our customers are writing great reviews about our service</h2>
                    </div>
                </div>
            </div>
        </div>

        
    <div class="reviews reviews--minimal">
        <div class="container reviews__container">
            <div class="row reviews__row reviews__row--intro">
                <div class="reviews__col">
                                        <svg class="reviews__icon">
                        <use xlink:href="#icon-trustpilot" />
                    </svg>
                    <ul class="reviews__ratings">
                        <li class="reviews__star">
                            <svg class="reviews__staricon">
                                <use xlink:href="#icon-truststar" />
                            </svg>
                        </li>
                        <li class="reviews__star">
                            <svg class="reviews__staricon">
                                <use xlink:href="#icon-truststar" />
                            </svg>
                        </li>
                        <li class="reviews__star">
                            <svg class="reviews__staricon">
                                <use xlink:href="#icon-truststar" />
                            </svg>
                        </li>
                        <li class="reviews__star">
                            <svg class="reviews__staricon">
                                <use xlink:href="#icon-truststar" />
                            </svg>
                        </li>
                        <li class="reviews__star">
                            <svg class="reviews__staricon">
                                <use xlink:href="#icon-truststar" />
                            </svg>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row reviews__row">
                <div class="reviews__col">
                    <div class="reviews__carousel">
                        <ul class="reviews__ul">
                            
                            <li class="reviews__li  ">
                                <h3 class="reviews__h3"><a class="reviews__atrust" href="https://www.trustpilot.com/reviews/5a8c9352d27b0a0520745dd4" target="_blank">Very good service</a></h3>
                                <ul class="reviews__ratings">
                                    <li class="reviews__star reviews__star--big">
                                        <svg class="reviews__star reviews__star--big">
                                            <use xlink:href="#icon-truststar" />
                                        </svg>
                                    </li>
                                    <li class="reviews__star reviews__star--big">
                                        <svg class="reviews__staricon reviews__staricon--big">
                                            <use xlink:href="#icon-truststar" />
                                        </svg>
                                    </li>
                                    <li class="reviews__star reviews__star--big">
                                        <svg class="reviews__staricon reviews__staricon--big">
                                            <use xlink:href="#icon-truststar" />
                                        </svg>
                                    </li>
                                    <li class="reviews__star reviews__star--big">
                                        <svg class="reviews__staricon reviews__staricon--big">
                                            <use xlink:href="#icon-truststar" />
                                        </svg>
                                    </li>
                                    <li class="reviews__star reviews__star--big">
                                        <svg class="reviews__staricon reviews__staricon--big">
                                            <use xlink:href="#icon-truststar" />
                                        </svg>
                                    </li>
                                </ul>
                                <p class="reviews__review">
                                     

                                                                            Very good service, everything I’m looking for
                                                                    </p>
                                <div class="reviews__meta">
                                    <p class="reviews__name">customer </p>
                                    <p class="reviews__date">20 feb</p>
                                </div>
                            </li>

                            
                            <li class="reviews__li  ">
                                <h3 class="reviews__h3"><a class="reviews__atrust" href="https://www.trustpilot.com/reviews/5a8c5a4ed27b0a0594cf44e2" target="_blank">Excellent</a></h3>
                                <ul class="reviews__ratings">
                                    <li class="reviews__star reviews__star--big">
                                        <svg class="reviews__star reviews__star--big">
                                            <use xlink:href="#icon-truststar" />
                                        </svg>
                                    </li>
                                    <li class="reviews__star reviews__star--big">
                                        <svg class="reviews__staricon reviews__staricon--big">
                                            <use xlink:href="#icon-truststar" />
                                        </svg>
                                    </li>
                                    <li class="reviews__star reviews__star--big">
                                        <svg class="reviews__staricon reviews__staricon--big">
                                            <use xlink:href="#icon-truststar" />
                                        </svg>
                                    </li>
                                    <li class="reviews__star reviews__star--big">
                                        <svg class="reviews__staricon reviews__staricon--big">
                                            <use xlink:href="#icon-truststar" />
                                        </svg>
                                    </li>
                                    <li class="reviews__star reviews__star--big">
                                        <svg class="reviews__staricon reviews__staricon--big">
                                            <use xlink:href="#icon-truststar" />
                                        </svg>
                                    </li>
                                </ul>
                                <p class="reviews__review">
                                     

                                     
                                                                                    Excellent! 
                                                                                    I 
                                                                                    love 
                                                                                    it 
                                                                                    :) 
                                                                                    it 
                                                                                    should 
                                                                                    be 
                                                                                    the 
                                                                                    new 
                                                                                    way 
                                                                                    of 
                                                                                    the 
                                                                                    banking. 
                                                                                ...
                                                                    </p>
                                <div class="reviews__meta">
                                    <p class="reviews__name">Adrienn  </p>
                                    <p class="reviews__date">20 feb</p>
                                </div>
                            </li>

                            
                            <li class="reviews__li reviews__li--mobile reviews__li--last ">
                                <h3 class="reviews__h3"><a class="reviews__atrust" href="https://www.trustpilot.com/reviews/5a8c3c45d27b0a0594cf3a12" target="_blank">Good stuff</a></h3>
                                <ul class="reviews__ratings">
                                    <li class="reviews__star reviews__star--big">
                                        <svg class="reviews__star reviews__star--big">
                                            <use xlink:href="#icon-truststar" />
                                        </svg>
                                    </li>
                                    <li class="reviews__star reviews__star--big">
                                        <svg class="reviews__staricon reviews__staricon--big">
                                            <use xlink:href="#icon-truststar" />
                                        </svg>
                                    </li>
                                    <li class="reviews__star reviews__star--big">
                                        <svg class="reviews__staricon reviews__staricon--big">
                                            <use xlink:href="#icon-truststar" />
                                        </svg>
                                    </li>
                                    <li class="reviews__star reviews__star--big">
                                        <svg class="reviews__staricon reviews__staricon--big">
                                            <use xlink:href="#icon-truststar" />
                                        </svg>
                                    </li>
                                    <li class="reviews__star reviews__star--big">
                                        <svg class="reviews__staricon reviews__staricon--big">
                                            <use xlink:href="#icon-truststar" />
                                        </svg>
                                    </li>
                                </ul>
                                <p class="reviews__review">
                                     

                                     
                                                                                    Good 
                                                                                    stuff, 
                                                                                    saved 
                                                                                    me 
                                                                                    a 
                                                                                    lot
I 
                                                                                    didn&#039;t 
                                                                                    have 
                                                                                    a 
                                                                                    bank 
                                                                                    account. 
                                                                                    Now 
                                                                                    it&#039;s 
                                                                                    all 
                                                                                    good 
                                                                                ...
                                                                    </p>
                                <div class="reviews__meta">
                                    <p class="reviews__name">Marcus  </p>
                                    <p class="reviews__date">20 feb</p>
                                </div>
                            </li>

                            
                            <li class="reviews__li  reviews__li--mobile reviews__li--desktop">
                                <h3 class="reviews__h3"><a class="reviews__atrust" href="https://www.trustpilot.com/reviews/5a8c1e36d27b0a0594cf2ed5" target="_blank">Painless Transactions</a></h3>
                                <ul class="reviews__ratings">
                                    <li class="reviews__star reviews__star--big">
                                        <svg class="reviews__star reviews__star--big">
                                            <use xlink:href="#icon-truststar" />
                                        </svg>
                                    </li>
                                    <li class="reviews__star reviews__star--big">
                                        <svg class="reviews__staricon reviews__staricon--big">
                                            <use xlink:href="#icon-truststar" />
                                        </svg>
                                    </li>
                                    <li class="reviews__star reviews__star--big">
                                        <svg class="reviews__staricon reviews__staricon--big">
                                            <use xlink:href="#icon-truststar" />
                                        </svg>
                                    </li>
                                    <li class="reviews__star reviews__star--big">
                                        <svg class="reviews__staricon reviews__staricon--big">
                                            <use xlink:href="#icon-truststar" />
                                        </svg>
                                    </li>
                                    <li class="reviews__star reviews__star--big">
                                        <svg class="reviews__staricon reviews__staricon--big">
                                            <use xlink:href="#icon-truststar" />
                                        </svg>
                                    </li>
                                </ul>
                                <p class="reviews__review">
                                     

                                     
                                                                                    Does 
                                                                                    exactly 
                                                                                    what 
                                                                                    it 
                                                                                    says. 
                                                                                    Hassle 
                                                                                    free 
                                                                                    withdraws 
                                                                                    and 
                                                                                    transactions. 
                                                                                    Always 
                                                                                    updated 
                                                                                    for 
                                                                                    every 
                                                                                    step, 
                                                                                    even 
                                                                                    the 
                                                                                    failed 
                                                                                    ones. 
                                                                                ...
                                                                    </p>
                                <div class="reviews__meta">
                                    <p class="reviews__name">customer </p>
                                    <p class="reviews__date">20 feb</p>
                                </div>
                            </li>

                                                    
                        </ul>
                    </div>

                                    </div>
            </div>
        </div>
    </div>    
            <div class="about">
            <div class="container about__container">
                <div class="row about__row">
                    <div class="about__col">
                        <div class="about__lines lines">
                            <div class="lines__line lines__line--four lines__line--primary lines__line--thirty"></div>
                            <div class="lines__line lines__line--one lines__line--secondary lines__line--fifty"></div>
                            <div class="lines__line lines__line--two lines__line--fifty"></div>
                            <div class="lines__line lines__line--four lines__line--up"></div>
                        </div>
                        <h2 class="h2 about__h2 about__h2--date">2016 European Fintech Awards</h2>
                        <h3 class="h3 about__h3 about__h3--large">Awarded Best Challenger-Bank</h3>
                    </div>
                </div>
            </div>

                                    <div class="about__holder">
                <img class="about__img about__img--award" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2716%27%20height%3D%279%27%20style%3D%27background%3Atransparent%27%2F%3E" sizes="100vw" srcset="https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/2016-best-challenger-award_c55ee93407ab57b04415f718ae55c549.jpg 1700w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/2016-best-challenger-award_18410075a4f936001e6b428c3f1b20eb.jpg 1536w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/2016-best-challenger-award_b64fc767d3d7ca9c1fd51325928a0f0e.jpg 1024w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/2016-best-challenger-award_62a3c087a87ec9c8ef005515c44c4949.jpg 512w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/2016-best-challenger-award_060e012c8487784e655524c9661b5008.jpg 256w" alt="2016 European Fintech Awards">
            </div>
        </div>
    
            <div class="about">
            <div class="container about__container">
                <div class="row about__row">
                    <div>
                        <div class="about__lines lines">
                            <div class="lines__line lines__line--two lines__line--primary lines__line--thirty"></div>
                            <div class="lines__line lines__line--one lines__line--sixty"></div>
                            <div class="lines__line lines__line--four lines__line--up"></div>
                        </div>
                        <h2 class="h2 about__h2 about__h2--date">2017</h2>
                        <h3 class="h3 about__h3">Monese customer transactions surpassed<br> <span class="about__span">half a billion pounds</span></h3>
                    </div>
                </div>
            </div>
        </div>
    
            <div class="about about--background" style="background-image: url('https://static.monese.com/s/about/no-more-transactions-2.jpg');">
            <div class="container about__container">
                <div class="row about__row">
                    <div>
                        <div class="about__lines lines">
                            <div class="lines__line lines__line--two lines__line--primary lines__line--thirty"></div>
                            <div class="lines__line lines__line--one lines__line--secondary lines__line--fifty"></div>
                            <div class="lines__line lines__line--four lines__line--fifty"></div>
                        </div>
                        <h2 class="h2 about__h2 about__h2--date">Bank to the future</h2>
                        <p>Not only did we want to make opening and using an account as easy as ordering an Uber, we also wanted to ensure it was accessible to everyone and not just a select few with perfect credit scores and several month’s worth of utility bill documentation.</p>
<p>Fast forward to the present day and we have opened tens of thousands of mobile only, on-demand current accounts for customers all over the UK and the wider EU, we’ve been officially named ‘Best Challenger-Bank' in Europe and have even been awarded €1.1 million by the European Commission for research and innovation!</p>
<p>We're also incredibly proud that the product we’ve created is improving the lives of so many customers that legacy banks fail to serve.</p>
                    
                        <a href="free-trial-account.html" class="about__btn btn btn-primary">Try account free</a>
                    </div>
                </div>
            </div>
        </div>
    
    
{{ partial "insider" . }}     
 
{{ partial "sitemap" . }}      
        
{{ partial "footer" . }}
