{{ partial "head" . }}
{{ partial "nav" . }}

    <div class="ncontainer">
        
        <header class="sub-header sub-header--">
        <div class="container sub-header__container">
            <div class="sub-header__row row">
                <div class="sub-header__col">
                    <h1 class="h3 sub-header__h1">Elektropay accounts</h1>
                    <h2 class="h2 sub-header__h2">Easy, convenient, fast &amp; secure</h2>
                </div>
            </div>
        </div>
    </header>
        <nav class="subnav">
        <a class="subnav__btn btn btn--tiny" href="../free-trial-account.html">Try free</a>
        <a class="subnav__back" href="../features.html">
            <svg class="subnav__arrow">
                <use xlink:href="#icon-arrow" />
            </svg>

            <svg class="subnav__arrow subnav__arrow--sm">
                <use xlink:href="#icon-arrowlong" />
            </svg>

            <p class="subnav__backc">Back</p>
        </a>
        <div class="subnav__col">
            <a href="../features.html" class="subnav__a subnav__a--main">Features</a>
            <span class="subnav__slash">/</span> 
            <span class="subnav__cur">Monese accounts</span>
        </div>
    </nav>

    <div class="features-detail">

                    <div class="features-detail__row">

                                
                <img class="faq-detail__img" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2716%27%20height%3D%279%27%20style%3D%27background%3Atransparent%27%2F%3E" sizes="100vw" srcset="https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/fixed_27c1268297525baf05d5ca1476dd7975.jpg 2048w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/fixed_18410075a4f936001e6b428c3f1b20eb.jpg 1536w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/fixed_130458e5f63b245682e466d9584efeea.jpg 512w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/fixed_e687c9dc062e2ee6a6f188270f278927.jpg 256w" alt="Banking was broken… So we fixed it!">

                <h2 class="h3">Banking was broken…</h2>
                <h3 class="h2">So we fixed it!</h3>
                <p>In 2015, we changed personal banking forever. We launched a fully fledged, 100% mobile Current Account. Then, we created a revolutionary customer on-boarding process that accepts virtually every customer that applies - even if they are new to the country, don’t have a credit history, or don’t have a regular fixed income.</p>
<p>Monese is currently available to anyone living within the European Economic Area (EEA), and we are constantly expanding into new areas.</p>
            </div>
                    <div class="features-detail__row">

                                
                <img class="faq-detail__img" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2716%27%20height%3D%279%27%20style%3D%27background%3Atransparent%27%2F%3E" sizes="100vw" srcset="https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/proof_27c1268297525baf05d5ca1476dd7975.jpg 2048w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/proof_18410075a4f936001e6b428c3f1b20eb.jpg 1536w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/proof_130458e5f63b245682e466d9584efeea.jpg 512w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/proof_e687c9dc062e2ee6a6f188270f278927.jpg 256w" alt="Banking was broken… So we fixed it!">

                <h2 class="h3">No proof of address?</h2>
                <h3 class="h2">No problem!</h3>
                <p>A Monese account may suit you better than a traditional bank account. 
</p>
<blockquote>You don’t need to provide local proof-of-address, you don’t need to prove you have a good credit history, and you’ll never need to attend a branch in person.</blockquote>
            </div>
                    <div class="features-detail__row">

                                
                <img class="faq-detail__img" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2716%27%20height%3D%279%27%20style%3D%27background%3Atransparent%27%2F%3E" sizes="100vw" srcset="https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/personal_27c1268297525baf05d5ca1476dd7975.jpg 2048w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/personal_18410075a4f936001e6b428c3f1b20eb.jpg 1536w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/personal_130458e5f63b245682e466d9584efeea.jpg 512w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/personal_e687c9dc062e2ee6a6f188270f278927.jpg 256w" alt="Banking was broken… So we fixed it!">

                <h2 class="h3">Your personal</h2>
                <h3 class="h2">UK current account</h3>
                <p>You can join Monese instantly using our mobile app - simply download it and follow our easy step-by-step instructions to open and verify your account.</p>
<p>You’ll be asked to take a selfie using your smartphone’s camera, and to snap an ID document (preferably a Passport or ID Card, issued by any country).</p>
<p>The advanced technology built into our app will confirm your identity and you can receive your account details (account number and sort code) in minutes.</p>
            </div>
                    <div class="features-detail__row">

                                
                <img class="faq-detail__img" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2716%27%20height%3D%279%27%20style%3D%27background%3Atransparent%27%2F%3E" sizes="100vw" srcset="https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/fluctuation_27c1268297525baf05d5ca1476dd7975.jpg 2048w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/fluctuation_18410075a4f936001e6b428c3f1b20eb.jpg 1536w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/fluctuation_130458e5f63b245682e466d9584efeea.jpg 512w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/fluctuation_e687c9dc062e2ee6a6f188270f278927.jpg 256w" alt="Banking was broken… So we fixed it!">

                <h2 class="h3">No fluctuation</h2>
                <h3 class="h2">Fixed cost, no hidden fees</h3>
                <p>Monese accounts have no minimum balance requirements and no hidden fees.</p>
<p>Traditional banks make profits by reinvesting customer’s money and by charging unreasonably high fees for overseas card usage, money transfers or missed Direct Debits and high interest rates on overdraft and loans.</p>
<p>Although many of them present their current account / checking account as free they are not.</p>
            </div>
                    <div class="features-detail__row">

                                
                <img class="faq-detail__img" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2716%27%20height%3D%279%27%20style%3D%27background%3Atransparent%27%2F%3E" sizes="100vw" srcset="https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/statements_27c1268297525baf05d5ca1476dd7975.jpg 2048w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/statements_18410075a4f936001e6b428c3f1b20eb.jpg 1536w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/statements_130458e5f63b245682e466d9584efeea.jpg 512w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/statements_e687c9dc062e2ee6a6f188270f278927.jpg 256w" alt="Banking was broken… So we fixed it!">

                <h2 class="h3">Bank Statements</h2>
                <h3 class="h2">Speed, ease &amp; value</h3>
                <p>The world is moving faster than ever and waiting on slow moving banks is not an option.</p>
<p>Monese was built to be instant and to break down the barriers of bureaucracy built up by century old banking institutions.</p>
<p>We believe that banking doesn’t have to be stressful and more than anything we believe that no one should be excluded from vital everyday banking services because of their residency or credit history.</p>
            </div>
        
    </div>

        <div class="main-account ">
        <div class="container">
            <div class="row">
                <div class="main-account__col">
                    <h2 class="h3 main-account__h2">Your main account</h2>
                    <h3 class="h2 main-account__h3">Banking without boundaries</h3>
                    <p class="p main-account__p">Monese is not a bank - we specialise in one thing and that&#039;s current accounts.</p>
                    <ul class="main-account__ul">
                        <li class="main-account__li">
                            <svg class="icon-listtick main-account__tick">
                                <use xlink:href="#icon-listtick" />
                            </svg>
                            Unlimited transactions
                        </li>
                        <li class="main-account__li">
                            <svg class="icon-listtick main-account__tick">
                                <use xlink:href="#icon-listtick" />
                            </svg>
                            Receive £ or € bank transfers
                        </li>
                        <li class="main-account__li">
                            <svg class="icon-listtick main-account__tick">
                                <use xlink:href="#icon-listtick" />
                            </svg>
                            Contactless debit card
                        </li>
                        <li class="main-account__li">
                            <svg class="icon-listtick main-account__tick">
                                <use xlink:href="#icon-listtick" />
                            </svg>
                            Fast bank transfers
                        </li>
                        <li class="main-account__li">
                            <svg class="icon-listtick main-account__tick">
                                <use xlink:href="#icon-listtick" />
                            </svg>
                            Get cash at ATMs globally
                        </li>
                                                <li class="main-account__li">
                            <svg class="icon-listtick main-account__tick">
                                <use xlink:href="#icon-listtick" />
                            </svg>
                            Direct debits
                        </li>
                                            </ul>
                    <a href="../free-trial-account.html" class="main-account__btn btn btn-primary btn-round btn-fill btn-lg">Try account free</a>
                </div>
            </div>
        </div>
    </div>
    
  
{{ partial "insider" . }}     
 
{{ partial "sitemap" . }}      
        
{{ partial "footer" . }}
