{{ partial "head" . }}
{{ partial "nav" . }}

    <div class="ncontainer">
        
        <header class="sub-header sub-header--">
        <div class="container sub-header__container">
            <div class="sub-header__row row">
                <div class="sub-header__col">
                    <h1 class="h3 sub-header__h1">Payments</h1>
                    <h2 class="h2 sub-header__h2">Make fast UK bank transfers, pay bills and send money abroad for less</h2>
                </div>
            </div>
        </div>
    </header>
        <nav class="subnav">
        <a class="subnav__btn btn btn--tiny" href="../free-trial-account.html">Try free</a>
        <a class="subnav__back" href="../features.html">
            <svg class="subnav__arrow">
                <use xlink:href="#icon-arrow" />
            </svg>

            <svg class="subnav__arrow subnav__arrow--sm">
                <use xlink:href="#icon-arrowlong" />
            </svg>

            <p class="subnav__backc">Back</p>
        </a>
        <div class="subnav__col">
            <a href="../features.html" class="subnav__a subnav__a--main">Features</a>
            <span class="subnav__slash">/</span> 
            <span class="subnav__cur">Payments</span>
        </div>
    </nav>

    <div class="features-detail">

                    <div class="features-detail__row">

                                
                <img class="faq-detail__img" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2716%27%20height%3D%279%27%20style%3D%27background%3Atransparent%27%2F%3E" sizes="100vw" srcset="https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/mobile_27c1268297525baf05d5ca1476dd7975.jpg 2048w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/mobile_18410075a4f936001e6b428c3f1b20eb.jpg 1536w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/mobile_130458e5f63b245682e466d9584efeea.jpg 512w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/mobile_e687c9dc062e2ee6a6f188270f278927.jpg 256w" alt="Banking was broken… So we fixed it!">

                <h2 class="h3">Make payments</h2>
                <h3 class="h2">On your mobile</h3>
                <p>The Monese app makes it easy to pay for goods and services like rent or utility bills. With a few taps you can pay a company or individual recipient via bank transfer. Monese to Monese payments are free and happen in real time, with no limit on how many transfers you can make </p>
            </div>
                    <div class="features-detail__row">

                                
                <img class="faq-detail__img" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2716%27%20height%3D%279%27%20style%3D%27background%3Atransparent%27%2F%3E" sizes="100vw" srcset="https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/transfers-2_27c1268297525baf05d5ca1476dd7975.jpg 2048w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/transfers-2_18410075a4f936001e6b428c3f1b20eb.jpg 1536w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/transfers-2_130458e5f63b245682e466d9584efeea.jpg 512w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/transfers-2_e687c9dc062e2ee6a6f188270f278927.jpg 256w" alt="Banking was broken… So we fixed it!">

                <h2 class="h3">Bank</h2>
                <h3 class="h2">Transfers</h3>
                <p>If you like staying in total control of your budget, bank transfers are a great way to pay. From essential services like your mobile phone and home broadband, to utilities like electricity, gas and water - paying via bank transfer allows you to review your bills and ensure they are accurate before making payment. For this reason, many people prefer bank transfers to Direct Debits, as signing up to Direct Debit enables the supplier to automatically charge you a variable amount.</p>
            </div>
                    <div class="features-detail__row">

                                
                <img class="faq-detail__img" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2716%27%20height%3D%279%27%20style%3D%27background%3Atransparent%27%2F%3E" sizes="100vw" srcset="https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/ddebits_27c1268297525baf05d5ca1476dd7975.jpg 2048w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/ddebits_18410075a4f936001e6b428c3f1b20eb.jpg 1536w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/ddebits_130458e5f63b245682e466d9584efeea.jpg 512w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/ddebits_e687c9dc062e2ee6a6f188270f278927.jpg 256w" alt="Banking was broken… So we fixed it!">

                <h2 class="h3">Direct</h2>
                <h3 class="h2">Debits</h3>
                <p>You can set up a Direct Debit to automatically pay for the services and utilities you use regularly. Mobile phone contracts, rent, electricity bills and gym membership can all be paid for with Direct Debit.</p>
            </div>
                    <div class="features-detail__row">

                                
                <img class="faq-detail__img" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2716%27%20height%3D%279%27%20style%3D%27background%3Atransparent%27%2F%3E" sizes="100vw" srcset="https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/abroad_27c1268297525baf05d5ca1476dd7975.jpg 2048w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/abroad_18410075a4f936001e6b428c3f1b20eb.jpg 1536w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/abroad_130458e5f63b245682e466d9584efeea.jpg 512w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/abroad_e687c9dc062e2ee6a6f188270f278927.jpg 256w" alt="Banking was broken… So we fixed it!">

                <h2 class="h3">Transfer</h2>
                <h3 class="h2">Money abroad</h3>
                <p>As a Monese account holder you can transfer money abroad into eight currencies - for up to 8x less than using a bank. We process millions of pounds worth of transactions every day and this huge volume means that we are able to buy currency at wholesale rates - and we pass these great rates on to our customers. There isn't a better way to send money abroad cheaply.</p>
            </div>
                    <div class="features-detail__row">

                                
                <img class="faq-detail__img" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2716%27%20height%3D%279%27%20style%3D%27background%3Atransparent%27%2F%3E" sizes="100vw" srcset="https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/cash-2_27c1268297525baf05d5ca1476dd7975.jpg 2048w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/cash-2_18410075a4f936001e6b428c3f1b20eb.jpg 1536w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/cash-2_130458e5f63b245682e466d9584efeea.jpg 512w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/cash-2_e687c9dc062e2ee6a6f188270f278927.jpg 256w" alt="Banking was broken… So we fixed it!">

                <h2 class="h3">Pay by debit card</h2>
                <h3 class="h2">Or in cash</h3>
                <p>You can pay for a whole range of things with your Monese debit card. You can shop in store or online, make purchases in-app, or take cash out at ATMs globally.</p>
            </div>
        
    </div>

        <div class="main-account ">
        <div class="container">
            <div class="row">
                <div class="main-account__col">
                    <h2 class="h3 main-account__h2">Your main account</h2>
                    <h3 class="h2 main-account__h3">Banking without boundaries</h3>
                    <p class="p main-account__p">Monese is not a bank - we specialise in one thing and that&#039;s current accounts.</p>
                    <ul class="main-account__ul">
                        <li class="main-account__li">
                            <svg class="icon-listtick main-account__tick">
                                <use xlink:href="#icon-listtick" />
                            </svg>
                            Unlimited transactions
                        </li>
                        <li class="main-account__li">
                            <svg class="icon-listtick main-account__tick">
                                <use xlink:href="#icon-listtick" />
                            </svg>
                            Receive £ or € bank transfers
                        </li>
                        <li class="main-account__li">
                            <svg class="icon-listtick main-account__tick">
                                <use xlink:href="#icon-listtick" />
                            </svg>
                            Contactless debit card
                        </li>
                        <li class="main-account__li">
                            <svg class="icon-listtick main-account__tick">
                                <use xlink:href="#icon-listtick" />
                            </svg>
                            Fast bank transfers
                        </li>
                        <li class="main-account__li">
                            <svg class="icon-listtick main-account__tick">
                                <use xlink:href="#icon-listtick" />
                            </svg>
                            Get cash at ATMs globally
                        </li>
                                                <li class="main-account__li">
                            <svg class="icon-listtick main-account__tick">
                                <use xlink:href="#icon-listtick" />
                            </svg>
                            Direct debits
                        </li>
                                            </ul>
                    <a href="../free-trial-account.html" class="main-account__btn btn btn-primary btn-round btn-fill btn-lg">Try account free</a>
                </div>
            </div>
        </div>
    </div>
    
        
  
{{ partial "insider" . }}     
 
{{ partial "sitemap" . }}      
        
{{ partial "footer" . }}
