{{ partial "head" . }}

{{ partial "nav" . }}

    <div class="ncontainer">
        
        <header class="sub-header sub-header--">
        <div class="container sub-header__container">
            <div class="sub-header__row row">
                <div class="sub-header__col">
                    <h1 class="h3 sub-header__h1">Security</h1>
                    <h2 class="h2 sub-header__h2">Make fast UK bank transfers, pay bills and send money abroad for less</h2>
                </div>
            </div>
        </div>
    </header>
        <nav class="subnav">
        <a class="subnav__btn btn btn--tiny" href="../free-trial-account.html">Try free</a>
        <a class="subnav__back" href="../features.html">
            <svg class="subnav__arrow">
                <use xlink:href="#icon-arrow" />
            </svg>

            <svg class="subnav__arrow subnav__arrow--sm">
                <use xlink:href="#icon-arrowlong" />
            </svg>

            <p class="subnav__backc">Back</p>
        </a>
        <div class="subnav__col">
            <a href="../features.html" class="subnav__a subnav__a--main">Features</a>
            <span class="subnav__slash">/</span> 
            <span class="subnav__cur">Security</span>
        </div>
    </nav>

    <div class="features-detail">

                    <div class="features-detail__row">

                                
                <img class="faq-detail__img" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2716%27%20height%3D%279%27%20style%3D%27background%3Atransparent%27%2F%3E" sizes="100vw" srcset="https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/always_27c1268297525baf05d5ca1476dd7975.jpg 2048w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/always_18410075a4f936001e6b428c3f1b20eb.jpg 1536w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/always_130458e5f63b245682e466d9584efeea.jpg 512w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/always_e687c9dc062e2ee6a6f188270f278927.jpg 256w" alt="Banking was broken… So we fixed it!">

                <h2 class="h3">Secure.</h2>
                <h3 class="h2">Always</h3>
                <p>The security of your money and personal information is our highest priority. We have developed breakthrough technologies and processes to protect your account against unauthorised access, so when you open a Monese account you can feel confident that the money you store with us is safe and secure at all times.</p>
            </div>
                    <div class="features-detail__row">

                                
                <img class="faq-detail__img" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2716%27%20height%3D%279%27%20style%3D%27background%3Atransparent%27%2F%3E" sizes="100vw" srcset="https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/device_27c1268297525baf05d5ca1476dd7975.jpg 2048w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/device_18410075a4f936001e6b428c3f1b20eb.jpg 1536w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/device_130458e5f63b245682e466d9584efeea.jpg 512w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/device_e687c9dc062e2ee6a6f188270f278927.jpg 256w" alt="Banking was broken… So we fixed it!">

                <h2 class="h3">Single</h2>
                <h3 class="h2">Device access</h3>
                <p>Your account can only be accessed from a single mobile device - preventing the possibility of anyone else from gaining control of your account from another location. You have to manually authorize any new device you wish to access your account from through a secure multi factor authentication process.</p>
            </div>
                    <div class="features-detail__row">

                                
                <img class="faq-detail__img" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2716%27%20height%3D%279%27%20style%3D%27background%3Atransparent%27%2F%3E" sizes="100vw" srcset="https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/passcode_27c1268297525baf05d5ca1476dd7975.jpg 2048w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/passcode_18410075a4f936001e6b428c3f1b20eb.jpg 1536w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/passcode_130458e5f63b245682e466d9584efeea.jpg 512w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/passcode_e687c9dc062e2ee6a6f188270f278927.jpg 256w" alt="Banking was broken… So we fixed it!">

                <h2 class="h3">Secure</h2>
                <h3 class="h2">Passcode</h3>
                <p>Each time you launch the app you will be required to re-enter a secure 5-digit passcode only known to yourself. This prevents others from being able to take any action on your account even if they have access to your physical device.</p>
            </div>
                    <div class="features-detail__row">

                                
                <img class="faq-detail__img" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2716%27%20height%3D%279%27%20style%3D%27background%3Atransparent%27%2F%3E" sizes="100vw" srcset="https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/card-3_27c1268297525baf05d5ca1476dd7975.jpg 2048w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/card-3_18410075a4f936001e6b428c3f1b20eb.jpg 1536w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/card-3_130458e5f63b245682e466d9584efeea.jpg 512w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/card-3_e687c9dc062e2ee6a6f188270f278927.jpg 256w" alt="Banking was broken… So we fixed it!">

                <h2 class="h3">Block and unblock</h2>
                <h3 class="h2">Your debit card instantly</h3>
                <p>If your card is ever lost or stolen you can block it instantly using the Monese app, and you can also unblock it instantly if you need to - helping to keep your money that bit safer. If you are ever worried that you’ve used your debit card at an untrustworthy location just block your card in the app and order a replacement card directly in the app.</p>
            </div>
                    <div class="features-detail__row">

                                
                <img class="faq-detail__img" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2716%27%20height%3D%279%27%20style%3D%27background%3Atransparent%27%2F%3E" sizes="100vw" srcset="https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/monitoring_27c1268297525baf05d5ca1476dd7975.jpg 2048w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/monitoring_18410075a4f936001e6b428c3f1b20eb.jpg 1536w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/monitoring_130458e5f63b245682e466d9584efeea.jpg 512w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/monitoring_e687c9dc062e2ee6a6f188270f278927.jpg 256w" alt="Banking was broken… So we fixed it!">

                <h2 class="h3">Always on</h2>
                <h3 class="h2">Monitoring</h3>
                <p>At Monese we work tirelessly to protect our customers’ money and always endeavour to exceed the recommended industry standards in security. Our advanced banking infrastructure is monitored around the clock, 24 hours a day 7 days a week.</p>
            </div>
                    <div class="features-detail__row">

                                
                <img class="faq-detail__img" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2716%27%20height%3D%279%27%20style%3D%27background%3Atransparent%27%2F%3E" sizes="100vw" srcset="https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/funds_27c1268297525baf05d5ca1476dd7975.jpg 2048w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/funds_18410075a4f936001e6b428c3f1b20eb.jpg 1536w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/funds_130458e5f63b245682e466d9584efeea.jpg 512w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/funds_e687c9dc062e2ee6a6f188270f278927.jpg 256w" alt="Banking was broken… So we fixed it!">

                <h2 class="h3">Protected</h2>
                <h3 class="h2">Funds</h3>
                <p>Monese is licensed as an EMI (Electronic Money Institution) this means that unlike banks we do not re-invest customer funds and have to keep all customer money separate to our own company finances. This guarantees that even in the unlikely event that Monese goes bankrupt all of our customers would receive 100% of their balance back.</p>
            </div>
                    <div class="features-detail__row">

                                
                <img class="faq-detail__img" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2716%27%20height%3D%279%27%20style%3D%27background%3Atransparent%27%2F%3E" sizes="100vw" srcset="https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/realtime_27c1268297525baf05d5ca1476dd7975.jpg 2048w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/realtime_18410075a4f936001e6b428c3f1b20eb.jpg 1536w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/realtime_130458e5f63b245682e466d9584efeea.jpg 512w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/realtime_e687c9dc062e2ee6a6f188270f278927.jpg 256w" alt="Banking was broken… So we fixed it!">

                <h2 class="h3">Realtime</h2>
                <h3 class="h2">Notifications</h3>
                <p>Every time you deposit money, receive payments (like salary or other bank transfers) or you spend on your Monese card you will get instant notifications straight to your mobile. Notifications are a great way to stay up to date on the activity happening on your account, even if you are not logged in to the Monese app. They are also an added layer of security as they make it harder for any fraudulent activity to go unnoticed.</p>
            </div>
        
    </div>

        <div class="main-account ">
        <div class="container">
            <div class="row">
                <div class="main-account__col">
                    <h2 class="h3 main-account__h2">Your main account</h2>
                    <h3 class="h2 main-account__h3">Banking without boundaries</h3>
                    <p class="p main-account__p">Monese is not a bank - we specialise in one thing and that&#039;s current accounts.</p>
                    <ul class="main-account__ul">
                        <li class="main-account__li">
                            <svg class="icon-listtick main-account__tick">
                                <use xlink:href="#icon-listtick" />
                            </svg>
                            Unlimited transactions
                        </li>
                        <li class="main-account__li">
                            <svg class="icon-listtick main-account__tick">
                                <use xlink:href="#icon-listtick" />
                            </svg>
                            Receive £ or € bank transfers
                        </li>
                        <li class="main-account__li">
                            <svg class="icon-listtick main-account__tick">
                                <use xlink:href="#icon-listtick" />
                            </svg>
                            Contactless debit card
                        </li>
                        <li class="main-account__li">
                            <svg class="icon-listtick main-account__tick">
                                <use xlink:href="#icon-listtick" />
                            </svg>
                            Fast bank transfers
                        </li>
                        <li class="main-account__li">
                            <svg class="icon-listtick main-account__tick">
                                <use xlink:href="#icon-listtick" />
                            </svg>
                            Get cash at ATMs globally
                        </li>
                                                <li class="main-account__li">
                            <svg class="icon-listtick main-account__tick">
                                <use xlink:href="#icon-listtick" />
                            </svg>
                            Direct debits
                        </li>
                                            </ul>
                    <a href="../free-trial-account.html" class="main-account__btn btn btn-primary btn-round btn-fill btn-lg">Try account free</a>
                </div>
            </div>
        </div>
    </div>
    
        
            	<div class="insider">
		<div class="container insider__container">
			<div class="insider__row row">
				<div class="insider__col">
					<h2 class="h2 insider__h2">Get access to our latest features, offers &amp; thrifty tips</h2>
				</div>
			</div>
			<div class="row insider__row">
				<div class="insider__col">
					<form v-on:submit.prevent="onSubmit" class="insider__form" action="../index.html" method="post">
						<input v-on:keyup="checkError" v-model="email" v-bind:class="{ 'insider__input--error': isError }" type="email" name="email" class="insider__input insider__input--email" placeholder="Enter your email address" required>
						<input v-model="submit" v-bind:class="{ 'insider__submit--submitting': isSubmitting }" type="submit" data-default="Sign up" data-submitting="Signing up..." data-submitted="Signed up!" value="" class="btn insider__submit">
					</form>
					<p v-bind:class="{ 'insider__message--error': isError, 'insider__message--success': isSuccess }" class="insider__message" data-default="Monese will not share your data with third parties." data-error="Please enter a valid email." data-retry="There was an error please try again." data-success="Great! Now check your inbox.">${message}</p>
				</div>
			</div>
		</div>
	</div>

                <section class="sitemap">
        <div class="container">
            <div class="sitemap__row">
                <div class="sitemap__col">
                    <h2 class="sitemap__h2">Site map</h2>
                </div>
            </div>
            <nav class="sitemap-nav">
                <div class="sitemap-nav__col">
                    <ul class="sitemap-nav__ul">
                        <li>
                            <a class="sitemap-nav__a sitemap-nav__a--title" href="../free-trial-account.html">Accounts
                                <svg class="arrow sitemap-nav__arrow">
                                    <use xlink:href="#icon-arrow" />
                                </svg>
                            </a>
                            <ul class="sitemap-nav__ul sitemap-nav__ul--sub">
                                <li><a class="sitemap-nav__a" href="../free-trial-account.html">Free trial</a></li>
                                <li><a class="sitemap-nav__a" href="../pricing.html">Pricing</a></li>
                                <li><a class="sitemap-nav__a" href="../travel-money-card.html">Travel</a></li>
                                <li><a class="sitemap-nav__a" href="../international-money-transfer.html">Money transfer</a></li>
                                <li><a class="sitemap-nav__a" href="budgeting.html">Budgeting</a></li>
                                <li><a class="sitemap-nav__a" href="debit-card.html">Card</a></li>
                                <li><a class="sitemap-nav__a" href="deposits.html">Deposits</a></li>
                                <li><a class="sitemap-nav__a" href="payments.html">Payments</a></li>
                                <li><a class="sitemap-nav__a" href="security.html">Security</a></li>
                                                                    <li><a class="sitemap-nav__a" href="../business.html">Business</a></li>
                                                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="sitemap-nav__col">
                    <ul class="sitemap-nav__ul">
                        <li>
                            <a class="sitemap-nav__a sitemap-nav__a--title" href="../about.html">Company
                                <svg class="arrow sitemap-nav__arrow">
                                    <use xlink:href="#icon-arrow" />
                                </svg>
                            </a>
                            <ul class="sitemap-nav__ul sitemap-nav__ul--sub">
                                <li><a class="sitemap-nav__a" href="../about.html">About</a></li>
                                <li><a class="sitemap-nav__a" href="https://monese.statuspage.io">Service Status</a></li>
                                <li><a class="sitemap-nav__a" href="https://monese.workable.com">Careers</a></li>
                                                                    <li><a class="sitemap-nav__a" href="../blog.html">Blog</a></li>
                                                                <li><a class="sitemap-nav__a" href="../media.html">Media</a></li>
                                <li><a class="sitemap-nav__a" href="../terms.html">Terms</a></li>
                                <li><a class="sitemap-nav__a" href="../privacy.html">Privacy</a></li>
                                <li><a class="sitemap-nav__a" href="../cookies.html">Cookies</a></li>
                            </ul>
                        </li>
                        
                    </ul>
                </div>
                <div class="sitemap-nav__col">
                    <ul class="sitemap-nav__ul">
                        <li>
                            <a class="sitemap-nav__a sitemap-nav__a--title" href="../customers.html">Customers
                                <svg class="arrow sitemap-nav__arrow">
                                    <use xlink:href="#icon-arrow" />
                                </svg>
                            </a>
                            <ul class="sitemap-nav__ul sitemap-nav__ul--sub">
                                <li><a class="sitemap-nav__a" href="../customers.html">All customers</a></li>
                                <li><a class="sitemap-nav__a" href="../customers/expats.html">Expats</a></li>
                                <li><a class="sitemap-nav__a" href="../customers/freelancers.html">Freelancers</a></li>
                                <li><a class="sitemap-nav__a" href="../customers/foreign-nationals.html">Foreign Nationals</a></li>
                                <li><a class="sitemap-nav__a" href="../customers/basic-account.html">Basic Account</a></li>
                                <li><a class="sitemap-nav__a" href="../customers/no-proof-of-address.html">No proof of address</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="sitemap-nav__col">
                    <ul class="sitemap-nav__ul">
                        <li>
                            <a class="sitemap-nav__a sitemap-nav__a--title" href="../international-money-transfer.html">Transfers
                                <svg class="arrow sitemap-nav__arrow">
                                    <use xlink:href="#icon-arrow" />
                                </svg>
                            </a>
                            <ul class="sitemap-nav__ul sitemap-nav__ul--sub">
                                <li><a class="sitemap-nav__a" href="../international-money-transfer.html">Transferring money</a></li>
                            </ul>
                        </li>
                    </ul>
                                            <ul class="sitemap-nav__ul sitemap-nav__ul--transferto">
                            <li>
                                <a class="sitemap-nav__a sitemap-nav__a--title" href="../international-money-transfer%3Futm_source=vanity_url&amp;utm_medium=vanity_url&amp;utm_campaign=monese_vanity_transfers.html">Transfer to</a>
                                <ul class="sitemap-nav__ul sitemap-nav__ul--sub">
                                    <li><a class="sitemap-nav__a" href="../international-money-transfer/transfer-money-to-romania.html">Romania</a></li>
                                    <li><a class="sitemap-nav__a" href="../international-money-transfer/transfer-money-to-poland.html">Poland</a></li>
                                    <li><a class="sitemap-nav__a" href="../international-money-transfer/transfer-money-to-hungary.html">Hungary</a></li>
                                </ul>
                            </li>
                        </ul>
                                    </div>
            </nav>
        </div>
    </section>
	    
	    {{ partial "footer" . }}
