{{ partial "head" . }}

{{ partial "nav" . }}

<div class="ncontainer">

<div class="main-header main-header--one main-header--features">
    	<div class="container main-header__container">
	        <h1 class="h1 main-header__h1 main-header__h1--three main-header__h1--features dont-break-out"><span class="main-header__span">Break free</span> from traditional banks</h1>
	        
	        		        			        <a class="main-header__btn main-header__btn--features btn btn--one main-header__btn--tablet" href="free-trial-account.html">
			        	Try account free
			    	</a>
		    			        		        	<img class="p main-header__img" src="https://static.monese.com/img/monese-phone-sm.png?mtime=20171019170026">
		        		        			        <a class="main-header__btn main-header__btn--features btn btn--one main-header__btn--mobile" href="/free-trial-account.html">
			        	Try account free
			    	</a>
		    		    	
	    		      	<div class="main-header__ctas main-header__ctas--features">
		        <a onclick="return monInstallLinkTrack('iOs', 'Header');" href="https://itunes.apple.com/gb/app/elektropay/id1102793407">
			        <svg class="app-install main-header__install main-header__install--features main-header__install--first">
			            <use xlink:href="#icon-app-store" />
			        </svg>
		        </a>
		        <a onclick="return monInstallLinkTrack('Android', 'Header');" href="https://play.google.com/store/apps/details?id=com.elektropay.elektropay.live&hl=en_GB&referrer=">
		        	<svg class="app-install main-header__install main-header__install--features">
		            	<use xlink:href="#icon-googleplay" />
		        	</svg>
		        </a>
	      	</div>
	      	       </div>
    </div>
                    
        
        
        
        
        
        
        
        
        
        
        
        
        
        <div class="page-intro page-intro--nopadding">
            <div class="page-intro__intro">
                <div class="container">
                    <div class="row page-intro__row page-intro__row--nopadding">
                        <div class="page-intro__col">
                            <p>Forget the stress of dealing with traditional banks, it's time to move on.</p>
<p>Our accounts are 100% mobile, you don't need to provide UK proof-of-address and we don't conduct credit checks.</p>
<p>Simply install our mobile app, and you'll have a full Current Account in minutes - which you can then control entirely from your smartphone.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     
                      
    <div class="selling-points selling-points--none">
        <div class="container">
            <div class="selling-points__row row selling-points__row--none">
                <div v-bind:class="{ 'selling-points__col--active': checkIsActive(0) }" class="selling-points__col selling-points__col--one">
                    <svg class="selling-points__icon">
                        <use xlink:href="#icon-sellpassport" />
                    </svg>
                    <h3 class="h2 selling-points__h3">For mobile people</h3>
                    <p class="selling-points__p">Our app lets you open a UK current account instantly, without a UK address.</p>
                </div>
                <div v-bind:class="{ 'selling-points__col--active': checkIsActive(1) }" class="selling-points__col selling-points__col--two">
                    <svg class="selling-points__icon selling-points__icon--right">
                        <use xlink:href="#icon-sellall" />
                    </svg>
                    <h3 class="h2 selling-points__h3">All in one</h3>
                    <p class="selling-points__p">Use Monese as your main account. Receive and make payments, set up direct debits, shop online and in person - all with one account.</p>
                </div>
                <div v-bind:class="{ 'selling-points__col--active': checkIsActive(2) }" class="selling-points__col selling-points__col--three">
                    <svg class="selling-points__icon">
                        <use xlink:href="#icon-sellshield" />
                    </svg>
                    <h3 class="h2 selling-points__h3">FCA registered</h3>
                    <p class="selling-points__p">100% secure and fully registered with the UK Financial Conduct Authority.</p>
                </div>
            </div>
        </div>
    </div>        
        <div class="copy-image ">
                
                <video class="scrollvideo copy-image__img copy-image__img--video" width="320" height="240">
                  <source src="https://static.monese.com/img/uk-card.mp4?mtime=20171019170234" type="video/mp4" />
                  <source src="https://static.monese.com/img/uk-card.ogv?mtime=20171019170233" type="video/ogg" />
                  <source src="https://static.monese.com/img/uk-card.webm?mtime=20171019170233" type="video/webm" />
                </video>

                <img class="copy-image__img copy-image__img--hasvideo" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2716%27%20height%3D%279%27%20style%3D%27background%3Atransparent%27%2F%3E" sizes="100vw" srcset="https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/monese-mastercard-2-ss_b64fc767d3d7ca9c1fd51325928a0f0e.jpg 1024w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/monese-mastercard-2-ss_62a3c087a87ec9c8ef005515c44c4949.jpg 512w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/monese-mastercard-2-ss_060e012c8487784e655524c9661b5008.jpg 256w" alt="The Monese card">
                <div class="container">
                    <div class="copy-image__row row">
                        <div class="copy-image__col">
                            <h2 class="copy-image__h2">The Monese card</h2>
                            <h3 class="h2 copy-image__h3">Our stylish contactless card looks great, and is easy to use. Accepted anywhere in the world where you see the Mastercard logo.</h3>
                            <p class="copy-image__copy">Our stylish contactless card is as good to look at, as it is to use.</p>
                            <a class="copy-image__btn btn btn--transparent btn--full" href="features/debit-card.html">
                                Debit card features
                                <svg class="btn__arrow arrow btn__arrow--one">
                                    <use xlink:href="#icon-arrow" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        
        <div class="copy-image copy-image--grey copy-image--tall  " >

                
                <img class="copy-image__img copy-image__img--tall " src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%271%27%20height%3D%271%27%20style%3D%27background%3Atransparent%27%2F%3E" sizes="100vw" srcset="https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/payments-4-t-gb_b64fc767d3d7ca9c1fd51325928a0f0e.jpg 1024w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/payments-4-t-gb_62a3c087a87ec9c8ef005515c44c4949.jpg 512w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/payments-4-t-gb_060e012c8487784e655524c9661b5008.jpg 256w" alt="Payments">
                <div class="container">
                    <div class="copy-image__row row">
                        <div class="copy-image__col copy-image__col--tall ">
                            
                            <h2 class="copy-image__h2 copy-image__h2--none">Payments</h2>
                            <h3 class="h2 copy-image__h3 copy-image__h3--none">It&#039;s easier, cheaper and quicker to pay with Monese</h3>

            <ul class="copy-image__ul">
                                           <li class="copy-image__li">
                                            <svg class="icon-listtick">
                                                <use xlink:href="#icon-listtick" />
                                            </svg>
                                            Local and International Bank transfers
                                        </li>
                                                                                <li class="copy-image__li">
                                            <svg class="icon-listtick">
                                                <use xlink:href="#icon-listtick" />
                                            </svg>
                                            Instant payments to other Elektropay accounts
                                        </li>
                                                                            </ul>
                                                            
                                     <a class="copy-image__btn copy-image__btn--none btn btn--transparent btn--full" href="features/payments.html">
                                                                    Payment features
                                    <svg class="btn__arrow arrow btn__arrow--none">
                                        <use xlink:href="#icon-arrow" />
                                    </svg>
                                </a>
                                                    </div>
                    </div>
                </div>
            </div>

        
            
        
        <div class="copy-image copy-image--blue copy-image--normal  " >

                <img class="copy-image__img copy-image__img--normal " src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%271%27%20height%3D%271%27%20style%3D%27background%3Atransparent%27%2F%3E" sizes="100vw" srcset="https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/deposits-2-s_171019_170020_b64fc767d3d7ca9c1fd51325928a0f0e.jpg 1024w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/deposits-2-s_171019_170020_62a3c087a87ec9c8ef005515c44c4949.jpg 512w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/deposits-2-s_171019_170020_060e012c8487784e655524c9661b5008.jpg 256w" alt="Payments">
                <div class="container">
                    <div class="copy-image__row row">
                        <div class="copy-image__col copy-image__col--normal ">
                            
                            <h2 class="copy-image__h2 copy-image__h2--white">Deposits</h2>
                            <h3 class="h2 copy-image__h3 copy-image__h3--white">Using Elektropay couldn&#039;t be simpler</h3>

                                                            <p class="copy-image__copy copy-image__copy--white">The majority of our customers use Monese as their main account, into which they receive salaries, pensions or benefits. We&#039;ve made sure that getting money into your account couldn&#039;t be easier.</p>
                            
                            
                            <a class="copy-image__btn copy-image__btn--white btn btn--transparent btn--full" href="features/deposits.html">
                                                                    Deposit features
                                    <svg class="btn__arrow arrow btn__arrow--white">
                                        <use xlink:href="#icon-arrow" />
                                    </svg>
                                </a>
                                                    </div>
                    </div>
                </div>
            </div>

         <div class="copy-image copy-image--grey copy-image--normal  " >

                
                <img class="copy-image__img copy-image__img--normal " src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%271%27%20height%3D%271%27%20style%3D%27background%3Atransparent%27%2F%3E" sizes="100vw" srcset="https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/budgeting-2-s_171019_170018_b64fc767d3d7ca9c1fd51325928a0f0e.jpg 1024w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/budgeting-2-s_171019_170018_62a3c087a87ec9c8ef005515c44c4949.jpg 512w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/budgeting-2-s_171019_170018_060e012c8487784e655524c9661b5008.jpg 256w" alt="Payments">
                <div class="container">
                    <div class="copy-image__row row">
                        <div class="copy-image__col copy-image__col--normal ">
                            
                            <h2 class="copy-image__h2 copy-image__h2--none">Budgeting</h2>
                            <h3 class="h2 copy-image__h3 copy-image__h3--none">Making budgeting a breeze</h3>

                       <p class="copy-image__copy copy-image__copy--none">Try an account now, free for your first month. After that, our fixed monthly cost with no hidden fees makes budgeting a breeze. We&#039;re up to five times cheaper than other, so-called &#039;free&#039; accounts with regular banks.</p>
                            
                            <a class="copy-image__btn copy-image__btn--none btn btn--transparent btn--full" href="features/budgeting.html">
                                                                    Budgeting features
                                    <svg class="btn__arrow arrow btn__arrow--none">
                                        <use xlink:href="#icon-arrow" />
                                    </svg>
                                </a>
                                                    </div>
                    </div>
                </div>
            </div>

         <div class="copy-image copy-image--none copy-image--normal  " >

                
                <img class="copy-image__img copy-image__img--normal " src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%271%27%20height%3D%271%27%20style%3D%27background%3Atransparent%27%2F%3E" sizes="100vw" srcset="https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/security-3_b64fc767d3d7ca9c1fd51325928a0f0e.jpg 1024w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/security-3_62a3c087a87ec9c8ef005515c44c4949.jpg 512w, https://static.monese.com/i/6c17a0d2aaa884b4f3c2b8f3d7a0682b/security-3_060e012c8487784e655524c9661b5008.jpg 256w" alt="Payments">
                <div class="container">
                    <div class="copy-image__row row">
                        <div class="copy-image__col copy-image__col--normal ">
                            
                            <h2 class="copy-image__h2 copy-image__h2--none">Security</h2>
                            <h3 class="h2 copy-image__h3 copy-image__h3--none">The security of your money and personal information is our highest priority.</h3>
<p class="copy-image__copy copy-image__copy--none">We&#039;ve developed breakthrough technologies and processes to protect your account against unauthorised access. So, when you open a Monese account, you can feel confident that money you store with us will always be safe and secure.</p>
                            
                            <a class="copy-image__btn copy-image__btn--none btn btn--transparent btn--full" href="features/security.html">
                                                                    Security features
                                    <svg class="btn__arrow arrow btn__arrow--none">
                                        <use xlink:href="#icon-arrow" />
                                    </svg>
                                </a>
                             </div>
                    </div>
                </div>
            </div>

     
  
{{ partial "insider" . }}     
 
{{ partial "sitemap" . }}      
        
{{ partial "footer" . }}  
